.add-ons {

  text-align: center;

  .page-title {
    height: 43px;
    background: transparent url("images/title-addson-pop-up.png") no-repeat center center;
    background-size: auto 100%;
    margin: 0 auto 50px;
  }

  .item {
    width: 400px; height: 200px;
    margin-bottom: 30px;
    background: transparent url('images/bg-black-op-50.png') repeat;
    position: relative;
    overflow: hidden;
    //float: right;
    display: inline-block;
    box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
    //margin-left: 30px;

    &:nth-child(odd) { margin-left: 30px; }
    &:nth-child(even) { margin-left: 0; }

    img {
      position: absolute; z-index: 1;
      top: 0; right: 0; height: 100%; width: auto;
    }

    .bottom {
      position: absolute; z-index: 1;
      left: 0; bottom: 0; width: 100%; height: 75px;
      padding-right: 170px;
      text-align: right;

      span { display: inline-block; margin-left: 23px; font-family: Oswald, sans-serif; font-size: 23px; line-height: 45px; color: #fff; }
    }

    .name {
      font-size: 21px;
      color: $color-brand-main;
      margin: 0; padding: 16px 170px 5px 20px;
      line-height: 1;
      text-align: right;
    }

    .descr {
      font-size: 18px; color: #fff;
      margin: 0; padding: 0 170px 0 20px;
      line-height: 1;
      text-align: right;
    }

    .controls {
      margin: 0; padding: 0;
      position: absolute; z-index: 2;
      left: 5px; top: 132px;
      list-style-type: none;

      li {
        float: right;
        width: 38px; height: 38px;

        &.plus {
          background: transparent url('images/drinks-plus.png') no-repeat center center;
          cursor: pointer;
        }

        &.minus {
          background: transparent url('images/drinks-minus.png') no-repeat center center; cursor: pointer;
          &.zero { opacity: 0.2; cursor: default; }
        }

        &.total {
          background: transparent url('images/drinks-blank.png') no-repeat center center;
          color: $color-brand-main; font-size: 18px; font-family: Oswald, sans-serif;
          line-height: 38px; margin: 0 3px; text-align: center;
          -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
        }
      }
    }
  }

}