$color-brand-main: #fcff00;
$color-brand-main-st: rgba(252, 255, 0, 0.5);
$color-brand-main-faded: rgba(252, 255, 0, 0.05);
$color-brand-green: #9CE14E;
$color-brand-red: #EC3C40;




//== Media queries breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 960px;
$screen-lg: 1200px;
