.drinks-left-sidebar {
  width: 320px;
  float: left;
  margin: -38px 0 0 0;
  position: relative;

  img { display: block; width: 100%; height: auto; }

  .toggle-button {
    width: 42px; height: 42px;
    border-radius: 0 5px 5px 0;
    background: transparent url('images/bg-shopping-cart.png') no-repeat right top;
    position: absolute;
    right: -42px; top: 0;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    color: #888;
    font-size: 21px;
    font-family: Oswald, sans-serif;
    display: none;
  }
}

.drinks-pane {
  width: calc(100% - 330px);
  float: right;

  .title {
    background: transparent url('images/bg-title-drinks.png') no-repeat center center;
    margin-bottom: 52px;

    img { display: block; margin: 0 auto;}
  }
}

.drink-tiles {
  .item {
    width: 320px; height: 200px;
    margin-bottom: 30px;
    background: transparent url('images/bg-black-op-50.png') repeat;
    position: relative;
    overflow: hidden;
    float: right;
    box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);

    &:nth-child(odd) { margin-left: 30px; }
    &:nth-child(even) {  }

    img {
      position: absolute; z-index: 1;
      top: 0; right: 0;
    }

    .bottom {
      position: absolute; z-index: 1;
      left: 0; bottom: 0; width: 100%; height: 75px;
      padding-right: 95px;

      span { display: inline-block; margin-left: 23px; font-family: Oswald, sans-serif; font-size: 23px; line-height: 45px; color: #fff; }
      button {
        display: inline-block; width: 103px; height: 45px;
        border: none; background: transparent url('images/bg-btn-to-buy.png') no-repeat center;
        font-size: 20px; font-weight: 700;
      }
    }

    .name {
      font-size: 21px;
      color: $color-brand-main;
      margin: 0; padding: 16px 95px 5px 30px;
      line-height: 1;
    }

    .descr {
      font-size: 18px; color: #fff;
      margin: 0; padding: 0 95px 0 30px;
      line-height: 1;
    }

  }
}

//??
.bi-section .bi-container.drinks .mask {
  position: absolute; z-index: 2000;
  background-color: rgba(0,0,0,0.26);
  left: 0; top: 0; right: 0; bottom: 0;
  display: none;
}

.drink-tiles .item .controls {
  margin: 0; padding: 0;
  position: absolute; z-index: 2;
  left: 5px; top: 132px;
  list-style-type: none;

  li {
    float: right;
    width: 38px; height: 38px;

    &.plus {
      background: transparent url('images/drinks-plus.png') no-repeat center center;
      cursor: pointer;
    }

    &.minus {
      background: transparent url('images/drinks-minus.png') no-repeat center center; cursor: pointer;
      &.zero { opacity: 0.2; cursor: default; }
    }

    &.total {
      background: transparent url('images/drinks-blank.png') no-repeat center center;
      color: $color-brand-main; font-size: 18px; font-family: Oswald, sans-serif;
      line-height: 38px; margin: 0 3px; text-align: center;
      -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
    }
  }
}

// **********************************
// RESPONSIVE
// **********************************
// 481 - 768
@media (max-width: $screen-sm) {
  .drinks-left-sidebar {
    float: none; width: 320px; margin: 0; position: absolute; z-index: 2015; left: -310px; top: 35px;
    img.bike { display: none; }
    .toggle-button { display: block; }
  }
  .drinks-pane { width: 100%; }
}
// ======= end of 481 - 768

// <= 480px
@media (max-width: $screen-xs) {
}
// ======= end of <= 480
