// ******* Header
.page-header {
  height: 120px;
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: 50px;
  overflow: hidden;
  box-shadow: 0 4px 17px -4px rgba(0,0,0,0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  a {
    img.top-logo { float: right; height: 110px; width: auto; margin-top: 5px; }
  }

  ul.personal {
    margin: 0; padding: 0;
    list-style-type: none;
    float: left;

    li {
      display: inline-block;
      line-height: 120px;
      color: #999;

      a {
        color: #999;

        &:hover { text-decoration: underline; }
      }
    }
  }
}
// ******* /Header

// ******* Main
#main {
  min-height: calc(100% - 256px) !important;    //header heigh + header bottom margin + main bottom margin + footer height
  margin-bottom: 30px;
}
// ******* /Main

// ******* Footer
.page-footer {
  height: 56px;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: -4px -4px 17px -4px rgba(0,0,0,0.75);

  p {
    margin:0;
    line-height: 56px;
    color: #a3a3a3;
    text-align: center;
  }
}
// ******* /Footer
