.hp-pane {
  width: 49%;
  margin-bottom: 50px;

  &.specials {
    float: right;

    .special-box {
      width: 100%; height: 205px;
      position: relative;
      box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
      margin-bottom: 30px;
      background-color: rgba(0, 0, 0, 0.56);

      .content {
        position: absolute; z-index: 2;
        width: 50%; left: 0; top: 0;
        text-align: center;

        .price {
          display: inline-block;
          margin: -10px 0 0 0; padding: 0;
          color: #fff;
          font-family: Oswald, sans-serif;
          font-size: 105px; font-weight: 700;
          direction: ltr;

          .nis {
            font-size: 26px;
          }

          .prefix {
            color: $color-brand-green;
            font-weight: 400;
            font-size: 19px;
          }
        }

        .addson {
          margin: -15px 0 0; padding: 0 10px;
          color: $color-brand-main;
          font-size: 19px;
          line-height: 1.2;
        }
      }

      img {
        display: block;
        position: absolute; z-index: 1;
        right: 0; bottom: 0;
        width: 50%; height: auto;
      }
    }
  }

  &.pizza {
    float:left;

    img.gr-title { margin-bottom: 0; }

    img.make-pizza {
      display: block;
      width: 100%; height: auto;
    }
  }

  img.gr-title {
    display: block;
    width: 100%; height: auto;
    margin-bottom: 30px;
  }
}

#pizzaViewport {
  position: relative;
  width: 100%;
  padding-top: 30px;
  overflow: hidden;

  .smoke {
    position: absolute;
    width: 350px;
    height: 350px;
    background:transparent url('images/smoke-texture.png') no-repeat;
    bottom: 56px;
    margin-left:0px
  }

  button.make-pizza {
    display: block;
    position: absolute; z-index: 2;
    left: 50%; bottom: 0; width: 262px; height: 65px;
    margin-left: -131px;
    background: transparent url('images/hp-make-pizza-btn.png') no-repeat center center;
    background-size: 100% 100%;
    border: none;
  }
}

.hp-bottom .bi-container {
  background: transparent url('images/bg-wood.png') repeat center top;

  .bottom-title {
    height: 75px; width: 100%;
    margin: 38px 0 23px;
    background: transparent url('images/bg-hp-bottom-title.png') no-repeat center;

    img.title { display: block; margin: 0 auto; }

  }
  .pizzerias {
    text-align: center;
  }
}

#address-modal-content {
  display: none;
  //width: 610px; height: 440px;
  width: 100%; height: 100%;
  background: transparent url('images/bg-popup.jpg') repeat left top;
  box-shadow: 0 4px 17px 7px rgba(0,0,0,0.75);
}

// **********************************
// RESPONSIVE
// **********************************
// 961 - 1200
@media (max-width: $screen-lg) {
  .hp-pane {
    &.specials {
      .special-box {
        height: 195px;
        .content {
          .price { margin-top: 0; font-size: 95px;
            .prefix { font-size: 19px; }
          }
          .addson { font-size: 18px; }
        }
      }
    }
  }

  #pizzaViewport {
    button.make-pizza { width: 200px; height: 52px; margin-left: -100px; }
  }
}
// ======= end of 961 - 1200

// 769 - 960
@media (max-width: $screen-md) {
  .hp-pane {
    &.specials {
      .special-box {
        height: 195px;
        .content {
          margin-top: 10px;
          .price { margin-top: 0; font-size: 80px;
            .nis { font-size: 21px; }
            .prefix { font-size: 19px; }
          }
          .addson { font-size: 16px; margin-top: -7px; }
        }
      }
    }
  }
}
// ======= end of 769 - 960

// 481 - 768
@media (max-width: $screen-sm) {
  .hp-pane {
    width: 100%;

    &.specials {
      float: none;
      .special-box {
        width: 460px; height: 195px; margin: 0 auto 30px;
        .content {
          margin-top: 10px;
          .price {
            margin-top: 0; font-size: 80px;
            .nis { font-size: 21px; }
            .prefix { font-size: 19px; }
          }
          .addson { font-size: 16px; margin-top: -7px; }
        }
      }
    }

    &.pizza { float:none; }

    img.gr-title { display: block; width: 460px; height: auto; margin: 0 auto 20px; }
  }
}
// ======= end of 481 - 768
