.pz-box {
  display: inline-block;
  overflow: hidden;
  margin: 0 15px 30px;
  width: 170px; height: 290px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);

  .photo {
    height: 105px; width: 100%;
    overflow: hidden;

    img {
      display: block;
      width: 100%; height: auto;
    }
  }

  .details {
    height: 115px; width: 100%;
    background: transparent url('images/bg-black-op-50.png') repeat;
    padding-top: 16px;

    .name {
      margin: 0 0 11px;
      color: $color-brand-main;
      font-size: 19px;
      text-align: center;
    }

    .row {
      width: 100%;
      margin: 0; padding: 0 30px;
      text-align: justify;
      color: #fff;
      font-size: 15px;
      overflow: hidden;

      span {
        display: inline-block;
        float: left;
      }
    }
  }

  .time {
    height: 70px; width: 100%;
    background: transparent url('images/bg-323232-op-80.png') repeat;
    text-align: center;
    padding-top: 11px;

    span {
      color: #fff;
      display: inline-block;

      &.one { width: 45px; text-align: left; font-size: 16px; line-height: 1.1; }
      &.two { font-family: Oswald, sans-serif; font-size: 29px; font-weight: 700; letter-spacing: 1px; margin: 0 3px; }
      &.three { font-size: 18px; font-weight: bold; }
    }
  }
}