.mkp-work-pad {
  width: calc(100% - 380px);
  float: right;
  margin-right: 20px;
  min-height: 926px;
}

.mkp-page-title {
  height: 50px;
  background: transparent url('images/make-pizza-title.png') no-repeat center center;
  background-size: auto 47px;
  margin-bottom: 20px;
}

ul.mkp-categories {
  margin: 0 10px 0 0; padding: 0;
  list-style-type: none;
  width: 37%;
  float: right;

  li.section {
    width: 100%;
    background: transparent url('images/pizza-categ-title-bg.png') no-repeat right 47px;

    a.pz-components-title {
      cursor: pointer;
      display: block;

      img { display: block; }
    }

    ul.pz-components {
      margin: 0 0 18px 0; padding: 0;
      list-style-type: none;
      //width: 98%;
      display: none;

      &.open { display: block; }

      li {
        overflow: hidden;
        position: relative;
        color: #fff;
        font-size: 18px;
        line-height: 38px;
        padding-right: 10px;
        border-bottom: 3px solid rgba(255, 255, 255, 0.1);

        ul.selection {
          width: 125px;
          margin: 5px 0 0 0; padding: 0;
          list-style-type: 0;
          white-space: normal;
          float: left;
          overflow: hidden;

          li {
            display: inline-block;
            width: 26px; height: 26px;
            margin: 0 3px 0 0; padding: 0;
            border: none;
            border-radius: 13px;
            overflow: hidden;
            position: relative;
            line-height: 1;

            &.quarters-visibility { display: none; }

            input[type=radio], input[type=checkbox] {
              opacity: 0;
              width: 26px; height: 26px;
              margin: 0; padding: 0;
              cursor: pointer;

              + label {
                display: block;
                position: absolute; z-index: -1;
                left: 0; top: 0; width: 26px; height: 26px;
                background: transparent url('images/pz-selection.png') no-repeat center;

                &.l-half { background-position: -104px 0; }
                &.r-half { background-position: -156px 0; }
                &.whole { background-position: -208px 0; }
                &.quarter-nw { background-color: rgba(0, 0, 0, 0.75); background-position: -52px 0; }
                &.quarter-sw { background-color: rgba(0, 0, 0, 0.75); background-position: -364px 0; }
                &.quarter-se { background-color: rgba(0, 0, 0, 0.75); background-position: -312px 0; }
                &.quarter-ne { background-color: rgba(0, 0, 0, 0.75); background-position: -260px 0; }
              }
            }

            input[type=radio]:checked, input[type=checkbox]:checked {
              + label {
                &.l-half { background-position: -130px 0; }
                &.r-half { background-position: -182px 0; }
                &.whole { background-position: -234px 0; }
                &.quarter-nw { background-position: -78px 0; }
                &.quarter-sw { background-position: -390px 0; }
                &.quarter-se { background-position: -338px 0; }
                &.quarter-ne { background-position: -286px 0; }
              }
            }

            label.quarter {
              display: block;
              width: 26px; height: 26px;
              background: transparent url('images/pz-selection.png') no-repeat -52px 0;
              cursor: pointer;
              border-radius: 13px;

              &:hover {
                background-color: rgba(0, 0, 0, 0.5);
              }
            }

          }
        }
      }
    }
  }
}

.mkp-pizza-base {
  width: 60%; height: auto;
  position: relative;
  float: left;

  img.base-layer {
    width: 100%; height: auto;
  }
}

.mkp-order-buttons {
  position: absolute; z-index: 100;
  left: -330px; top: 535px;
  width: 320px;

  img { display: block; width: 100%; height: auto; }

  button {
    display: block;
    border: none;
    background: transparent none;
    margin: 0; padding: 0;

    &.first-button {  margin-bottom: 18px; }

  }
}

.mkp-left-sidebar {
  width: 320px;
  float: left;
  margin: -44px 0 0 30px;
  position: relative;

  img.bike {
    width: 100%; height: auto;
  }

  .toggle-button {
    width: 42px; height: 42px;
    border-radius: 0 5px 5px 0;
    background: transparent url('images/bg-shopping-cart.png') no-repeat right top;
    position: absolute;
    right: -42px; top: 0;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    color: #888;
    font-size: 21px;
    font-family: Oswald, sans-serif;
    display: none;
  }
}

.bi-section .bi-container.mkp .mask {
  position: absolute; z-index: 2000;
  background-color: rgba(0,0,0,0.26);
  left: 0; top: 0; right: 0; bottom: 0;
  display: none;
}

//.bi-section .bi-container.mkp div.shopping-cart button.checkout { display: none; }
// **********************************
// RESPONSIVE
// **********************************

// 961 - 1200
@media (max-width: $screen-lg) {
  .mkp-work-pad { width: calc(100% - 340px); margin-right: 10px; }
  .mkp-left-sidebar { width: 320px; margin-left: 10px;
    img.bike { width: 100%; height: auto; }
  }
  .mkp-order-buttons { left: -320px;
    button { &.first-button {  margin-bottom: 12px; } }
  }

  ul.mkp-categories {
    margin: 0 10px 0 0; padding: 0;
    list-style-type: none;
    width: 37%;
    float: right;

    li.section {
      width: 100%;
      background: transparent url('images/pizza-categ-title-bg.png') no-repeat right 47px;

      a.pz-components-title {
        cursor: pointer;
        display: block;

        img { display: block; }
      }

      ul.pz-components {
        margin: 0 0 18px 0; padding: 0;
        list-style-type: none;
        //width: 98%;
        display: none;

        &.open { display: block; }

        li {
          ul.selection {
            width: 130px;
            margin: 5px 0 0 0; padding: 0;
            float: none;

            li { &:first-child, &.quarters-start { margin-right: 0; } }
          }
        }
      }
    }
  }
}
// ======= end of 961 - 1200

// 769 - 960
@media (max-width: $screen-md) {
  .bi-section .bi-container.mkp { overflow: hidden; }

  .mkp-left-sidebar {
    float: none; width: 320px; margin: 0; position: absolute; z-index: 2015; left: -310px; top: 35px;
    img.bike { display: none; }
    .toggle-button { display: block; }
  }

  .mkp-work-pad { width: calc(100% - 20px); margin-right: 10px; margin-left: 10px; }

  .mkp-order-buttons {
    left: 0px; top: 90%;
    width: 240px;

    img { display: block; width: 100%; height: auto; }

    button {
      display: block;
      border: none;
      background: transparent none;
      margin: 0; padding: 0;

    }
  }
}
// ======= end of 769 - 960

// 481 - 768
@media (max-width: $screen-sm) {
}
// ======= end of 481 - 768

// <= 480px
@media (max-width: $screen-xs) {
}
// ======= end of <= 480
