.mkp-pizza-base {
  .pizza-layer {
    position: absolute; z-index: 50;
    top: 0; left: 0; width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    display: none;

    &.whole_green_olives {  background-image: url('images/pz-layers/whole_green_olives.png'); }
    &.l-half_green_olives {  background-image: url('images/pz-layers/l-half_green_olives.png'); }
    &.r-half_green_olives {  background-image: url('images/pz-layers/r-half_green_olives.png'); }
    &.nw_green_olives {  background-image: url('images/pz-layers/nw_green_olives.png'); }
    &.ne_green_olives {  background-image: url('images/pz-layers/ne_green_olives.png'); }
    &.sw_green_olives {  background-image: url('images/pz-layers/sw_green_olives.png'); }
    &.se_green_olives {  background-image: url('images/pz-layers/se_green_olives.png'); }
  }
}