//All these classes are used on the Homepage
#addressModalContent {
  width: 100%; max-width: 720px; height: 450px;
  margin: 0 auto;
  background: #333 url('images/bg-leaves.jpg') no-repeat center bottom;
  box-shadow: 0 4px 17px 7px rgba(0,0,0,0.75);
  text-align: right;
  position: relative;
}

ul.address-tabs-row {
  margin: 0; padding: 0;
  list-style-type: none;
  width: 100%;

  li {
    width: 33%;  height: 60px;
    background: #efefef url('images/bg-tab-address.png') no-repeat right bottom;
    float: right;
    line-height: 60px;
    padding-right: 75px;
    position: relative;
    color: #888;
    cursor: pointer;

    &:last-child { width: 34%; }

    &.tail { cursor: default; }

    &.shipping {
      &:before {
        content: url('images/small-bike-gray.png');
        position: absolute;
        right: 35px; top:4px;
      }
    }

    &.pick-up {
      &:before {
        content: url('images/small-pizza-gray.png');
        position: absolute;
        right: 35px; top:4px;
      }
    }

    &.current {
      background: transparent none;
      color: #efefef;
      cursor: default;

      &.shipping { &:before { content: url('images/small-bike.png'); } }
      &.pick-up { &:before { content: url('images/small-pizza.png'); } }
    }
  }
}

.shipping-form {
  padding-top: 50px;

  label {
    display: block;
    width: 330px;
    margin: 0 auto;
    border: 2px solid #efefef;
    border-radius: 4px;
    padding: 2px;
    line-height: 40px;
    color: #efefef;
    font-weight: 700px;
    font-size: 17px;
    padding-right: 10px; margin-bottom: 10px;

    .mandatory-field {
      line-height: 35px;
      font-size: 21px;
      color: $color-brand-red;
    }

    input[type=text] {
      display: block;
      float: left;
      border-radius: 3px;
      border: none;
      background-color: #efefef;
      line-height: 40px;
      padding: 0 15px;
    }

    &.no-border {
      border: none;
      padding-right: 0;
      margin-bottom: 2px;
      line-height: 1.1;

      input[type=radio] {
        display: inline-block;
        margin-left: 10px;
      }

      button {
        width: 117px; height: 54px;
        background: transparent url('images/btn-goon.png') no-repeat center center;
        display: block;
        float: left;
        border: none;
      }
    }

    &.error { border-color: $color-brand-red; }
  }
}

// **********************************
// RESPONSIVE
// **********************************
// 481 - 768
@media (max-width: $screen-sm) {
  ul.address-tabs-row {

    li {
      width: 50%;  height: 60px;
      &:last-child { display: none; }
      &.tail { display: none; }
    }
  }
}
// ======= end of 481 - 768
