//Make pizza in the pop up window
.overlay-mask {
  position: fixed; top:0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;

  .iframe-wrapper {
    width: 100%; max-width: 960px; height: 400px; overflow: hidden;
    margin: 30px auto 0; padding: 10px;
    background: transparent url("images/bg-leaves.jpg") no-repeat center bottom;

    iframe {
      width: 100%; height: 100%;  border: none;
    }
  }
}

.mkp-work-pad.overlay {
  width: 100%;
  float: none;
  margin: 0;
  min-height: 926px;
}

button.close-me {
  position: fixed; z-index: 56;
  width: 117px; height: 54px; left: 30px; bottom: 30px;
  background: transparent url('images/btn-goon.png') no-repeat center center;
  display: block;
  border: none;
}

#addson-modal-content {
  display: none;
  width: 960px; height: 490px;
  background: transparent url('images/bg-popup.jpg') repeat left top;
  box-shadow: 0 4px 17px 7px rgba(0,0,0,0.75);

  img.title-addson-pop-up {
    display: block;
    margin: 45px auto;
  }

  ul.adds-on-tiles {
    margin: 0 0 30px; padding: 0;
    list-style-type: none;
    white-space: nowrap;
    text-align: center;

    li {
      display: inline-block;
      width: 400px; height: 200px;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: hidden;

      &:first-child { margin-left: 26px;}

      img { display: block; height: 100%; width: auto; float: right; margin-left: 26px }

      p {
        margin: 21px 0 13px 0;
        text-align: right;
        white-space: normal;

        &.title { color: $color-brand-main; font-size: 23px; }
        &.descr {
          color: #efefef;
          line-height: 1.2;
          font-size: 15px;
          margin-top: 0;
        }
      }
      .bottom {
        text-align: right;

        span { display: inline-block; margin-left: 13px; font-family: Oswald, sans-serif; font-size: 23px; line-height: 45px; color: #efefef; }
        button {
          display: inline-block; width: 103px; height: 45px;
          border: none; background: transparent url('images/bg-btn-to-buy.png') no-repeat center;
          font-size: 20px; font-weight: 700;
        }
      }

    }
  }

  button.no-adds-on {
    display: block; margin: 0 auto;
    width: 267px; height: 65px;
    background: transparent url('images/btn-no-adds-on.png') no-repeat center center;
    border: none;
  }
}

// ************************
.modal-bg-mask {
  display: none;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/// /// /// ///
//.white-popup {
//  position: relative;
//  background: #FFF;
//  padding: 20px;
//  width: auto;
//  max-width: 500px;
//  margin: 20px auto;
//}

.sign-in-form-modal-container {
  width: 100%; max-width: 960px;
  margin: 0 auto; padding: 12px 15px;
  background: #333 url("images/bg-leaves.jpg") no-repeat center bottom;
  text-align: right;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 17px 7px rgba(0,0,0,0.75);
}