.purchase {
  // ******* Sign In Sign Up *******
  .login-pane {
    width: 49%; max-width: 440px;

    &.login { float: left; }

    &.register {
      float: right;
    }

    .title {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.26);
      margin: 0 auto 30px; padding: 7px 0 12px;
      font-size: 36px;
      color: #efefef;
      text-align: center;
      border-radius: 6px;
      box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
      border: 1px solid rgba(255, 255, 255, 0.08);
    }

    label {
      display: block;
      width: 100%;
      margin: 0 auto 20px;
      border: 2px solid #efefef;
      border-radius: 4px;
      padding: 2px 10px 2px 2px;
      line-height: 40px;
      color: #efefef;
      font-weight: 700px;
      font-size: 17px;
      background-color: rgba(0, 0, 0, 0.26);

      .mandatory-field {
        line-height: 35px;
        font-size: 21px;
        color: $color-brand-red;
      }

      input[type=text],input[type=password], input[type=email] {
        display: block;
        float: left;
        width: 60%;
        border-radius: 3px;
        border: none;
        background-color: #efefef;
        line-height: 40px;
        padding: 0 15px;
      }

      &.error { border-color: $color-brand-red; }
    }

    .no-border {
      border: none;
      padding-right: 0;
      margin-bottom: 2px;
      line-height: 1.1;
      background: transparent none;

      button {
        width: 117px; height: 54px;
        background: transparent url('images/btn-goon.png') no-repeat center center;
        display: block;
        float: left;
        border: none;
      }
    }

    p.field-info {
      width: 460px;
      font-size: 15px;
      color: #fff;
      margin: -15px auto 20px;
      text-shadow: -1px 1px 1px #000;
    }

    a.guest-entry {
      display: inline-block;
      padding: 30px 0 0; margin-bottom: 50px;
      font-size: 21px; font-weight: 400;
      color: #fff;
      text-decoration: underline;

      &:hover { color: $color-brand-main; }
    }
  }

}

.addr-list {
  .list-title {
    height: 50px;
    background: transparent url('images/view-order-title.png') no-repeat center center;
    background-size: auto 47px;
    margin-bottom: 50px;
  }

  ul {
    margin: 0 0 30px; padding: 0;
    list-style-type: none;

    li {
      background-color: rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      margin-bottom: 4px;
      padding:15px 30px;
      color: #fff;
      font-size: 18px;
      white-space: normal;
      border-radius: 4px;

      &.new-addr {
        background-color: rgba(0, 0, 0, 0.3); margin-top: 30px; border: 1px solid rgba(0, 0, 0, 0.4); text-align: center;

        a:before { content: ' + '; }
      }

      a {
        color: #fff; text-decoration: none;

        &:hover { color: $color-brand-main; }
      }

      button {
        display: block;
        float: left;
        background-color: rgba(0, 0, 0, 0.4);
        width: 60px; height: 100%;
        text-align: center;
        font-family: Oswald, sans-serif;
        color: $color-brand-main;
        font-size: 18px;
        border-radius: 4px;
        border: none;
      }
    }
  }
}

.addr-form-pane {
  width: 100%; max-width: 640px; min-width: 440px;
  margin: 0 auto;

  .form-title {
    height: 50px;
    background: transparent url('images/view-order-title.png') no-repeat center center;
    background-size: auto 47px;
    margin-bottom: 50px;
  }

  label {
    display: block;
    width: 100%;
    margin: 0 auto 20px;
    border: 2px solid #efefef;
    border-radius: 4px;
    padding: 2px 10px 2px 2px;
    line-height: 40px;
    color: #efefef;
    font-weight: 700px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.26);

    &.small {
      width: 31.2%; margin-left: 2%; display: inline-block;
      &.last { margin-left: 0; }

      input { width: 50% !important; }
    }

    a { color: #fff; text-decoration: none; &:hover { color: $color-brand-main; } }

    .mandatory-field {
      line-height: 35px;
      font-size: 21px;
      color: $color-brand-red;
    }

    input[type=text],input[type=password], input[type=email] {
      display: block;
      float: left;
      width: 60%;
      border-radius: 3px;
      border: none;
      background-color: #efefef;
      line-height: 40px;
      padding: 0 15px;
    }

    &.no-border {
      border: none;
      padding-right: 0;
      margin-bottom: 2px;
      line-height: 1.1;
      background: transparent none;

      input[type=checkbox] {
        display: inline-block;
        margin-left: 10px;
      }
    }

    &.error { border-color: $color-brand-red; }
  }
  button {
    width: 117px; height: 54px;
    background: transparent url('images/btn-goon.png') no-repeat center center;
    display: block;
    float: left;
    border: none;
  }

  .terms {
    display: none;
    background-color: #262626;
    border-radius: 4px;
    margin: 5px 0 30px; padding: 10px;

    p {
      font-size: 14px; margin: 2px 0; color: #fff;
    }
  }
}

.payment-types {
  .list-title {
    height: 50px;
    background: transparent url('images/view-order-title.png') no-repeat center center;
    background-size: auto 47px;
    margin-bottom: 50px;
  }

  ul {
    margin: 0 0 30px; padding: 0;
    list-style-type: none;

    li {
      background-color: rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      margin-bottom: 30px;
      padding:30px 30px;
      color: #fff;
      font-size: 26px;
      white-space: normal;
      border-radius: 4px;
      background-repeat: no-repeat; background-position: left center;

      &.credircard { background-image: url('images/creditcard.png'); }
      &.cash{ background-image: url('images/cash.png'); }
      &.paypal { background-image: url('images/paypal.png'); }

      a {
        color: #fff; text-decoration: none;
        &:hover { color: $color-brand-main; }
      }
    }
  }
}
// **********************************
// RESPONSIVE
// **********************************
// // 481 - 768
@media (max-width: $screen-sm) {
  .purchase .login-pane {
    width: 100%; max-width: 440px; margin: 0 auto;

    &.login { float: none; }
    &.register { float: none; }

    label { &.no-border { button { margin-bottom: 30px; } } }
  }
}
// ======= end of 481 - 768
