.top-buttons-row {
  overflow: hidden;
  margin: 0 auto 24px;
  width: 930px;

  button {
    display: block;
    padding: 2px 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 31px;
    border-radius: 2px;
    color: #fff;
    border: 2px solid #fff;
    background: transparent none;
    box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);

    &.by-price {
      float: right;
      margin-left: 15px;
    }

    &.by-distance {
      float: right;
    }

    &.go-back {
      float: left;
    }

    &.active {
      border-color: rgba(156, 225, 78, 0.2);
      background-color: rgba(156, 225, 78, 0.5);
      color: #000;
    }
  }
}
.pz-list {
  ul.pizzeria {
    width: 930px;
    margin: 0 auto 30px; padding: 0;
    list-style-type: none;
    box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
    background: transparent url('images/bg-black-op-60.png') repeat;

    li {
      float: right;

      &.col1 {
        width: 140px; height: 140px;
        img { width: 100%; height: 100%; display: block;}
      }

      &.title-row {
        width: 790px; height: 36px;
        color: $color-brand-main; font-size: 21px; font-weight: 400; line-height: 36px;
        background-image: url('images/bg-black-op-40.png');
        padding-right: 15px;

        .reviews {
          display: block; float: left; height: 100%;
          color: #fff; font-size: 15px;
          padding-left: 15px;

          .pipe { color: #999; font-size: 13px; }

          a { text-decoration: underline; color: $color-brand-green; font-size: 12px; }
        }
      }

      &.col2 {
        width: 75px; height: 104px;
        border-right: 2px solid transparent;

        span {
          display: block;
          height: 51px;
          margin-bottom: 2px;
          background: transparent url('images/bg-srch-green.png') repeat;
          color: #fff; font-weight: 700; text-align: center; line-height: 51px;

          &.bg-red { background-image: url('images/bg-srch-red.png'); }

          &:last-child { margin-bottom: 0; }
        }
      }

      &.col3 {
        width: 130px; height: 104px;
        background: #231f20 none; border-right: 1px solid rgba(255, 255, 255, 0.1); border-left: 1px solid rgba(255, 255, 255, 0.1);
        color: #fff;
        text-align: center;

        p {
          margin: 0; padding: 7px 0 0; font-size: 18px;

          &.no-delivery { line-height: 1.2; padding: 29px 0 0; color: $color-brand-red; }
        }

        .delivery-time { font-family: Oswald, sans-serif; font-size: 44px; }
        .delivery-time-suffix { font-size: 21px; }
      }

      &.col4 {
        width: 240px; height: 104px;
        padding: 0 15px 0;
        color: #fff;
        border-left: 1px solid rgba(255, 255, 255, 0.1);

        div {
          height: 50px; margin: 0; padding: 0; font-size: 14px; line-height: 18px; padding: 10px 0;

          .change {
            display: inline-block; font-size: 14px; line-height: 18px;
            background-color: $color-brand-main-st; color: #000;
            border-radius: 3px; padding: 0 5px; margin-right: 10px;
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.6);

            &:hover { background-color: #e6e6e6; }
          }
        }

        hr {
          //display: block; width: 90%; margin: 0 auto; color: #333; border: none;
          margin: 0; border: 0; height: 1px;
          background-image: linear-gradient(to right, rgba(90, 90, 90, 0), rgba(90, 90, 90, 0.75), rgba(90, 90, 90, 0));
        }
      }

      &.col5 {
        width: 180px; height: 104px; border-left: 1px solid rgba(255, 255, 255, 0.1); color: #fff;
        padding-right: 15px;

        p {
          margin: 0; padding: 7px 0 0; font-size: 18px;

          &.data { font-size: 14px; }

          .price-tooltip {
            display: inline-block; margin-right: 10px; background-color: $color-brand-main-st;
            color: #000; font-weight: bold; font-family: sans-serif; padding: 0 7px;
            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.6);
            border-radius: 3px;

            &:hover { background-color: #e6e6e6; }
          }
        }
      }

      &.col6 {
        width: 165px; height: 104px;

        .price {
          color: #fff;
          font-family: Oswald, sans-serif;
          font-size: 26px;
          text-align: center;
          margin: 0; padding-top: 6px;

          span { font-size: 16px; }
        }
        button.buy {
          display: block;
          margin: 0 auto;
          width: 80px; height: 35px;
          background: transparent url('images/bg-btn-to-buy.png') no-repeat center;
          background-size: 100% 100%;
          border: none;
          font-size: 16px; font-weight: 700;
          color: #1f241e;
          box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
        }
      }

      &.col7specials {
        width: 215px; height: 38px; background: transparent url('images/bg-black-op-60.png') repeat;

        p {
          margin: 0; padding: 0 70px 0 0;
          background: transparent url('images/gift-box.png') no-repeat right center;
          line-height: 38px;
          color: #fff;
          font-size: 16px;
          font-weight: 700;
        }
      }

      &.col8specials {
        width: 715px; height: 38px;
        background: transparent none;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        p {
          margin: 0; padding: 0 25px 0 0;
          line-height: 38px;
          color: #fff;
          font-size: 16px;
          font-weight: 700;

          span { color: $color-brand-green; font-size: 14px; font-weight: 400; }
        }
      }
    }
  }
}

// **********************************
// RESPONSIVE
// **********************************
// 769 - 960
@media (max-width: $screen-md) {
  .top-buttons-row { width: 740px; }
  .pz-list {
    ul.pizzeria {
      width: 740px;

      li {

        &.col1 { display: none; }

        &.title-row { width: 740px; }

        &.col2 { width: 75px; border-right: none; }

        &.col3 {
          width: 265px;

          p.no-delivery { padding-top: 40px; }
        }

        &.col4 { width: 400px; border-left: none; }

        &.col5 { width: 340px; border-top: 1px solid rgba(255, 255, 255, 0.1); }

        &.col6 { width: 400px; border-top: 1px solid rgba(255, 255, 255, 0.1); }

        &.col7specials { width: 215px; border-top: 1px solid rgba(255, 255, 255, 0.1); }

        &.col8specials { width: 525px; }
      }
    }
  }
}
// ======= end of 769 - 960

// 481 - 768
@media (max-width: $screen-sm) {
  .top-buttons-row { width: 450px; }
  .pz-list {
    ul.pizzeria {
      width: 450px;

      li {
        float: right;

        &.col1 { display: none; }

        &.title-row {
          width: 450px; height: auto; font-size: 18px; line-height: 1.2; padding: 7px 12px;

          .reviews { float: none; height: auto; padding: 0; }
        }

        &.col2 {
          width: 152px; height: 51px;
          border-right: none;

          span {
            width: 75px; display: block; float: right; height: 51px; margin: 0 0 0 2px;
            &:last-child { margin: 0; }
          }
        }

        &.col3 {
          width: 298px; height: 51px; border-left: none; padding-top: 0;

          p, div { display: inline-block; }

          p {
            margin: 0; padding: 0; font-size: 18px;

            &.no-delivery { line-height: 51px; padding: 0; color: $color-brand-red; }
          }

          .delivery-time { font-size: 33px; margin: 0 5px; }
          .delivery-time-suffix { font-size: 18px; }
        }

        &.col4 {
          width: 450px; height: auto;
          padding: 0 15px 0;
          border-left: none; border-top: 1px solid rgba(255, 255, 255, 0.1);

          div { height: auto; }

        }

        &.col5 {
          width: 225px; height: 93px;
          padding-right: 15px;

          p {
            margin: 0; padding: 7px 0 0; font-size: 18px;

            &.data { font-size: 14px; }

            .price-tooltip {
              display: inline-block; margin-right: 10px; background-color: $color-brand-main-st;
              color: #000; font-weight: bold; font-family: sans-serif; padding: 0 7px;
              box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.6);
              border-radius: 3px;

              &:hover { background-color: #e6e6e6; }
            }
          }
        }

        &.col6 { width: 225px; height: 93px; }

        &.col7specials { display: none; }

        &.col8specials {
          width: 450px; height: auto;

          p {
            margin: 0; padding: 5px 15px;
            line-height: 1;
          }
        }
      }
    }
  }
}
// ======= end of 481 - 768
