img.srch-title { display: block; width: 100%; height: auto; margin-bottom: 32px; }

.top-buttons-row {
  overflow: hidden;
  margin-bottom: 24px;

  button {
    display: block;
    padding: 2px 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 31px;
    border-radius: 2px;
    color: #fff;
    border: 2px solid #fff;
    background: transparent none;
    box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);

    &.by-price {
      float: right;
      margin-left: 15px;
    }

    &.by-distance {
      float: right;
    }

    &.go-back {
      float: left;
    }

    &.active {
      border-color: rgba(156, 225, 78, 0.2);
      background-color: rgba(156, 225, 78, 0.5);
      color: #000;
    }
  }
}

ul.srch-item {
  margin: 0; padding: 0;
  list-style-type: none;
  width: 100%;
  box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
  margin-bottom: 30px;

  li {
    float: right;
    overflow: hidden;
    height: 140px;
    background: transparent url('images/bg-black-op-50.png') repeat;

    &.col-1 { width: 13.5%; border-left: 2px solid rgba(0, 0, 0, 0.5); }
    &.col-2 { width: 7%; }
    &.col-3 {
      width: 19%;

      .row { padding: 0 25px; margin-bottom: 0; }
    }
    &.col-4 { width: 16.5%; }
    &.col-5 { width: 15.5%; }
    &.col-6 { width: 13%; background: #231F20 none; border-right: 1px solid rgba(255, 255, 255, 0.2); border-left: 1px solid rgba(255, 255, 255, 0.2); }
    &.col-7 { width: 15.5%; }

    &.col-specials-1 {
      width: 20.5%; height: 38px; background: transparent url('images/bg-black-op-60.png') repeat;

      p {
        margin: 0; padding: 0 70px 0 0;
        background: transparent url('images/gift-box.png') no-repeat right center;
        line-height: 38px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }
    }
    &.col-specials-2 {
      width: 79.5%;
      background: transparent url('images/bg-black-op-40.png') repeat;
      height: 38px;

      p {
        margin: 0; padding: 0 25px 0 0;
        line-height: 38px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;

        span { color: $color-brand-green; font-size: 14px; font-weight: 400; }
      }
    }
  }

  // ******* the second cell
  .kosher, .status {
    display: block;
    width: 100%; height: 69px;
    background-repeat: repeat;
    background-image: url('images/bg-srch-green.png');
    line-height: 69px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }

  .kosher {
    height: 71px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }

  .status {
    &.closed { background-image: url('images/bg-srch-red.png'); }
  }
  // ******* /the second cell

  .pizzeria-name {
    font-size:21px;
    font-weight: 400;
    margin: 0; padding: 21px 0 0;
    //text-align: center;
    padding-right: 25px;
    color: $color-brand-main;
  }

  .row {
    color: #ffffff;
    font-size: 15px;
    margin: 0 0 5px 0; padding: 0 15px;
    overflow: hidden;
    font-family: Arial,sans-serif;

    &.top {
      font-size: 19px; padding-top: 25px; margin-bottom: 0;
    }

    &.no-take-away {
      text-align: center;
      color: $color-brand-red;
      font-size: 19px;
      line-height: 1;
      margin: 0; padding: 48px 0 0;
    }

    .rating {
      float: left;
      margin-left: 26px;
    }

    .feedbacks { font-family: sans-serif; color: $color-brand-green; font-size: 13px; font-weight: bold; }

  }

  a.do-change {
    color: $color-brand-main;
    font-weight: bold;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
  /*button.inner {
    display: block;
    width: 112px; height: 31px;
    border: 1px solid $color-brand-main;
    color: $color-brand-main;
    margin: 12px 15px 0 0;
    background-color: transparent;
    border-radius: 2px;
    font-size: 15px;
    box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
  }*/

  button.buy {
    display: block;
    margin: 0 auto;
    width: 103px; height: 45px;
    background: transparent url('images/bg-btn-to-buy.png') no-repeat center;
    border: none;
    font-size: 18px; font-weight: 700;
    color: #1f241e;
    box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
  }

  .price {
    color: #fff;
    font-family: Oswald, sans-serif;
    font-size: 28px;
    text-align: center;
    margin: 26px auto 0;

    span { font-size: 16px; }
  }

  .time-num { font-family: Oswald, sans-serif; font-size: 56px; }
  .time-min { font-size: 22px; font-weight: 700; }
}

/*
// **********************************
// RESPONSIVE
// **********************************
// 961 - 1200
@media (max-width: 1050px) {
  ul.srch-item {

    li {

      &.col-1 { display: none }
      &.col-2 { width: 7%; }
      &.col-3 { width: 22%; }
      &.col-4 { width: 19%; }
      &.col-5 { width: 17%; }
      &.col-6 { width: 17%; text-align: center; }
      &.col-7 { width: 18%; }

      &.col-specials-1 {
        width: 21%; height: 38px;
      }
      &.col-specials-2 {
        width: 79%;
      }
    }
  }
}
// ======= end of 1050

@media (max-width: 960px) {
  ul.srch-item {

    li {
      &.col-2 { width: 22%; }
      &.col-3 { width: 26%; }
      &.col-4 { width: 26%; }
      &.col-5 { width: 26%; }
      &.col-6 {
        width: 50%; height: 79px; border-right: none; border-top: 1px solid rgba(0, 0, 0, 0.35); padding-top: 15px;

      .row {
        display: inline; vertical-align: bottom; padding-left: 0; padding-right: 5px;

        &.top { padding-left: 0; padding-right: 0; }
      }
      }
      &.col-7 {
        width: 50%; height: 79px; border-top: 1px solid rgba(0, 0, 0, 0.35); text-align: center;  padding-top: 15px;
      }

      &.col-specials-1 { width: 25%; }
      &.col-specials-2 { width: 75%; }
    }

    button.buy {
      display: inline-block;
      width: 103px; height: 45px;
      vertical-align: bottom;
    }

    .price {
      display: inline;
      font-size: 28px;
      margin: 26px auto 0;
      vertical-align: bottom;

      span { font-size: 16px; }
    }

    .time-num { font-size: 24px; }
    .time-min { font-size: 16px; font-weight: 400; }
  }
}
// ======= end of 960

@media (max-width: 768px) {
  ul.srch-item {

    li {
      &.col-2 {
        width: 25%; height: 45px;

        .kosher, .status { display: inline-block; width: 47%; border: none; height: 45px; line-height: 45px; margin: 0; padding: 0; }
      }
      &.col-3 {
        width: 75%; height: 45px;
        .pizzeria-name { background-color: rgba(0, 0, 0, 0.26); margin: 0; padding: 0 20px; line-height: 45px; }
        .row { display: none; }
      }
      &.col-4 { width: 50%; border-left: 1px solid rgba(255, 255, 255, 0.2); }
      &.col-5 { width: 50%; }
      &.col-6 {
        width: 50%; height: 79px; border-right: none; border-top: 1px solid rgba(0, 0, 0, 0.35); padding-top: 15px;

        .row {
          display: inline; vertical-align: bottom; padding-left: 0; padding-right: 5px;

          &.top { padding-left: 0; padding-right: 0; }
        }
      }
      &.col-7 {
        width: 50%; height: 79px; border-top: 1px solid rgba(0, 0, 0, 0.35); text-align: center;  padding-top: 15px;
      }

      &.col-specials-1 { width: 45%; }
      &.col-specials-2 { width: 55%; }
    }

    button.buy {
      display: inline-block;
      width: 103px; height: 45px;
      vertical-align: bottom;
    }

    .price {
      display: inline;
      font-size: 28px;
      margin: 26px auto 0;
      vertical-align: bottom;

      span { font-size: 16px; }
    }

    .time-num { font-size: 24px; }
    .time-min { font-size: 16px; font-weight: 400; }
  }
}
// ======= end of 961 - 1200

@media (max-width: 1050px) {
}
// ======= end of 961 - 1200
*/