div.shopping-cart {
  overflow: hidden;
  background: transparent url('images/bg-shopping-cart.png') repeat-y center top;
  box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
  padding: 0 20px 20px;
  width: 320px; height: auto;

  div.title-row {
    text-align: center;
    padding-top: 20px;

    p {
      display: inline-block;
      margin: 0;
      box-sizing: content-box;
      padding: 0 20px;
      position: relative;
      color: #414d58;
      font-size: 23px;

      &:before { content: url('images/row-pattern-right.png'); }
      &:after { content: url('images/row-pattern-left.png'); }
    }
  }

  div.order-row, div.order-last-row {
    border-bottom: 1px solid #d3d5d6;
    padding: 10px 0;

    span {
      display: inline-block;
      color: #414d58;
      vertical-align: middle;
      font-size: 15px;

      &.col-1 { width: 40px; }
      &.col-2 { width: 140px; line-height: 1; }
      &.col-3 {
        width: 60px;
        font-size: 14px;
        font-weight: 700;
        font-family: Oswald, sans-serif;

        &:before { content: '\20AA'; }
      }
      &.col-4 { width: 20px; }

      img { display: block; }
    }
  }

  div.order-last-row {
    border-bottom: none;
    padding: 20px 0;

    span.last {
      width: 200px;
    }
  }

  button.checkout {
    display: block;
    width: 280px; height: 65px;
    border: none;
    background: transparent url('images/btn-order-checkout.png') no-repeat center center;
  }
}


