.login-pane {
  width: 49%; max-width: 440px;

  &.login { float: left; }

  &.register {
    float: right;
  }

  .title {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    margin: 0 auto 30px; padding: 7px 0 12px;
    font-size: 36px;
    color: #efefef;
    text-align: center;
    border-radius: 6px;
    box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
    border: 1px solid rgba(255, 255, 255, 0.08);
  }

  label {
    display: block;
    width: 100%;
    margin: 0 auto 20px;
    border: 2px solid #efefef;
    border-radius: 4px;
    padding: 2px 10px 2px 2px;
    line-height: 40px;
    color: #efefef;
    font-weight: 700px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.26);

    .mandatory-field {
      line-height: 35px;
      font-size: 21px;
      color: $color-brand-red;
    }

    input[type=text],input[type=password], input[type=email] {
      display: block;
      float: left;
      width: 270px;
      border-radius: 3px;
      border: none;
      background-color: #efefef;
      line-height: 40px;
      padding: 0 15px;
    }

    &.no-border {
      border: none;
      padding-right: 0;
      margin-bottom: 2px;
      line-height: 1.1;
      background: transparent none;

      input[type=radio] {
        display: inline-block;
        margin-left: 10px;
      }

      button {
        width: 117px; height: 54px;
        background: transparent url('images/btn-goon.png') no-repeat center center;
        display: block;
        float: left;
        border: none;
      }
    }

    &.error { border-color: $color-brand-red; }
  }

  p.field-info {
    width: 460px;
    font-size: 15px;
    color: #fff;
    margin: -15px auto 20px;
    text-shadow: -1px 1px 1px #000;
  }

  a.guest-entry {
    display: block;
    clear: both;
    padding: 30px 0 0; margin-bottom: 50px;
    font-size: 21px; font-weight: 400;
    color: #fff;
    text-decoration: underline;

    &:hover { color: $color-brand-main; }
  }
}

// **********************************
// RESPONSIVE
// **********************************
// 769 - 960
@media (max-width: $screen-md) {
  .login-pane {
    width: 100%; max-width: 440px; margin: 0 auto;

    &.login { float: none; }
    &.register { float: none; }

    label { &.no-border { button { margin-bottom: 30px; } } }
  }
}
// ======= end of 769 - 960
