.view-order-title {
  height: 50px;
  background: transparent url('images/view-order-title.png') no-repeat center center;
  background-size: auto 47px;
  margin-bottom: 50px;
}

.view-order-list {
  margin: 0 0 30px; padding: 0;
  list-style-type: none;

  li {
    background-color: rgba(0, 0, 0, 0.2);
    //border-bottom: 4px solid rgba(255, 255, 255, 0.26);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 4px;
    padding:15px 30px;
    color: #fff;
    font-size: 18px;
    white-space: normal;
    border-radius: 4px;

    span {
      display: block;
      float: left;
      //background: rgba(0, 0, 0, 0.4) url('images/icon-edit.png') no-repeat 10px center;
      background-color: rgba(0, 0, 0, 0.4);
      width: 60px; height: 100%;
      //padding-right: 10px;
      text-align: center;
      font-family: Oswald, sans-serif;
      color: $color-brand-main;
      font-size: 18px;
      border-radius: 4px;
    }
  }
}

.go-to-pz-list {
  text-align: left;

  button {
    width: 117px; height: 54px;
    background: transparent url('images/btn-goon.png') no-repeat center center;
    display: inline-block;
    border: none;
  }
}