@import "base";

@font-face {
  font-family: 'nachlieli_clm';
  src: url('font-files/nachlieliclm/nachlieliclm-bold-webfont.eot');
  src: url('font-files/nachlieliclm/nachlieliclm-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('font-files/nachlieliclm/nachlieliclm-bold-webfont.woff') format('woff'),
  url('font-files/nachlieliclm/nachlieliclm-bold-webfont.ttf') format('truetype'),
  url('font-files/nachlieliclm/nachlieliclm-bold-webfont.svg#nachlieli_clmbold') format('svg');
  font-weight: bold; font-style: normal;
}
@font-face {
  font-family: 'nachlieli_clm';
  src: url('font-files/nachlieliclm/nachlieliclm-boldoblique-webfont.eot');
  src: url('font-files/nachlieliclm/nachlieliclm-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
  url('font-files/nachlieliclm/nachlieliclm-boldoblique-webfont.woff') format('woff'),
  url('font-files/nachlieliclm/nachlieliclm-boldoblique-webfont.ttf') format('truetype'),
  url('font-files/nachlieliclm/nachlieliclm-boldoblique-webfont.svg#nachlieli_clmboldoblique') format('svg');
  font-weight: bold; font-style: italic;
}
@font-face {
  font-family: 'nachlieli_clm';
  src: url('font-files/nachlieliclm/nachlieliclm-light-webfont.eot');
  src: url('font-files/nachlieliclm/nachlieliclm-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('font-files/nachlieliclm/nachlieliclm-light-webfont.woff') format('woff'),
  url('font-files/nachlieliclm/nachlieliclm-light-webfont.ttf') format('truetype'),
  url('font-files/nachlieliclm/nachlieliclm-light-webfont.svg#nachlieli_clmlight') format('svg');
  font-weight: normal; font-style: normal;
}
@font-face {
  font-family: 'nachlieli_clm';
  src: url('font-files/nachlieliclm/nachlieliclm-lightoblique-webfont.eot');
  src: url('font-files/nachlieliclm/nachlieliclm-lightoblique-webfont.eot?#iefix') format('embedded-opentype'),
  url('font-files/nachlieliclm/nachlieliclm-lightoblique-webfont.woff') format('woff'),
  url('font-files/nachlieliclm/nachlieliclm-lightoblique-webfont.ttf') format('truetype'),
  url('font-files/nachlieliclm/nachlieliclm-lightoblique-webfont.svg#nachlieli_clmlightoblique') format('svg');
  font-weight: normal; font-style: italic;
}


@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);

*, *:before, *:after { box-sizing: border-box; }

.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

html, body { margin: 0; padding: 0; direction: rtl; height: 100%; }

body {
  background-color: #282825;
  background-image: url('images/bg-leaves.jpg'), url('images/bg.jpg');
  background-position: center top, left top;
  background-repeat: no-repeat, repeat;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

button, input, select, textarea { font-family: Arial, sans-serif; }

a { text-decoration: none; cursor: pointer; }

//h1, h2, h3 {
//}
//h1 { font-size: 40px; margin-top: 0; }
//h2 { font-size: 28px; }
//h3 { font-size: 21px; }

a, input, select, textarea, *:focus { outline: 0; }

//input, button, select, textarea {  }

.bi-section {
  width: 100%; min-width: 480px; clear: both; margin: 0 auto; padding: 0;
  .bi-container {
    width: 100%; max-width:1024px; margin: 0 auto; padding: 0; position: relative;

    &.enlarged { max-width: 1600px; }
  }
}
@media (max-width: 1600px) {
  .bi-section .bi-container { padding: 0 10px; }
}

.green { color: $color-brand-green; }
.red { color: $color-brand-red; }

.shadow { text-shadow: -2px 2px 2px #000; }

.pizzeria-name {
  margin: 20px 0;
  color: $color-brand-main;
  font-size: 26px;
  text-align: center;
}

@import "header-main-footer";
@import "home";
@import "hp-pizeria-box";
@import "make-pizza";
@import "pizza-layers";
@import "shopping-cart";
@import "drinks";
@import "searchresult";
@import "pz-list";
@import "pop-up-address";
@import "pop-ups";
@import "sign-in";
@import "view-order";
@import "add-ons";
@import "purchase";
//@import "delivery";



