/*
 Theme Name:     BringIt
 Theme URI:      http://www.BringIt.co.il
 Description:    Twenty Fifteen child theme for BringIt ltd.
 Author:         KCS - בניית אתרים באינטרנט
 Author URI:     http://www.kcsnet.net/
 Template:       twentyfifteen
 Version:        0.1.0
 Text Domain:    BringIt
*/

/* @import url("../twentyfifteen/style.css"); */
@import url("css/reset.css");
@import url("css/bringit.css");
@import url("css/modal.css");
@import url("css/jquery-ui.css");
@import url("css/magnific-popup.css");
@import url("css/magnific-popup-bi.css");
@import url("css/addons.css");
@import url("css/delivery.css");
@import url("css/pizza-layers.css");
@import url("css/personal.css");
@import url("css/customer/order-list.css");
@import url("css/customer/order-details.css");
@import url("css/customer/general.css");
@import url("css/vieworder.css");
@import url("css/vieworder-popup.css");
@import url("css/page-pizzerias.css");

@import url("css/general.css");
@import url("css/jquery-ui-autocomplete-custom.css");
@import url("css/jquery-ui-combobox-custom.css");

.addon-col:hover{
    cursor: pointer;
}

.drink-tiles .item .price{
    font-size: 21px;
    color: #ffffff;
    margin: 0;
    padding: 16px 95px 5px 30px;
    line-height: 1;
}


/*
.mkp-pizza-base .pizza-layer{
    height:70% !important;
}
*/

.addr-list ul li button {
    height:27px;
}
.view-order-buttons{
    float:right;
}
.view-order-buttons button{
    display: block;
    border: none;
    background-color:transparent;
}
.drink-tiles .item img{
    width:28% !important;
}
.hp-vendor-title{
    text-align: center;
    color:white;
    line-height: 90px;
    font-size: 50px;
}
.hp-vendor-title::before{
    content:url("http://new-bringit.c14.co.il/wp-content/themes/bringit/_sass/sources/images/right-side-title.png");
}
.hp-vendor-title::after{
    content:url("http://new-bringit.c14.co.il/wp-content/themes/bringit/_sass/sources/images/left-side-title.png");
}
#loading-animation{
    right:0;
}
/*
#ui-id-1{
    width: 330px !important;
    position: relative  !important;
    top: -868px !important;
    left: -774px !important;
    border-radius: 7px !important;
}
*/
.ui-autocomplete {
  width: 20%;
  height: 400px;
  display: block;
  list-style: none;
  text-align: center;
    z-index: 10000;
    overflow-x: auto;
}
.vo-link{
    padding:15px;
    background-image: url("http://new-bringit.c14.co.il/wp-content/themes/bringit/css/images/bg-srch-green.png");
    color:Black;
    font-weight: bold;
    float: right;
    margin:2px;
}
.shopping-cart{
    padding: 0 0 20px !important;
}
.order-row{
    padding: 10px 20px !important;
}
.order-row:hover{
    
}
.col-1:hover{
    cursor: pointer;
    border-right:1px solid green;
}
.order-last-row{
    padding: 0px 20px !important;
}
.checkout{
    margin: 5px auto !important;
    background-image: url("http://new-bringit.c14.co.il/wp-content/themes/bringit/_sass/sources/images/btn-go-on.png") !important;
      width: 320px !important;
      height: 65px !important;
      background-color: transparent !important;
      border: none !important;
      display: block !important;
    background-size: 100% 100%;
} 
.col-2{
    width:200px !important;
}
#addon-col{
    vertical-align: top;
}
.col-3::before{
    content: "" !important;
}
.col-4{
    cursor:pointer;
}
.spinner {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  position: absolute;
    padding:27% 45%;
    background-color:rgba(0,0,0,0.5);
    display:none;
    top:0;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: orange;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 10%;
  height: 10%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}