.close-window{
    background-image:url("/wp-content/themes/bringit/assets/pop-up-close.png") !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height:35px;
    width:35px;
    position:relative;
/*    right:-10px;*/
/*    top:-10px;*/
    z-index: 1000000000;
}

.save-customer-info{
    display: inline-block;
    padding:15px 50px;
    border-radius:5px;
    color:black;
}
.save-customer-info {
  background-color: #00cc39;
  border-color: #00cc39;
}
.save-customer-info:hover,
.save-customer-info:focus,
.save-customer-info:active,
.save-customer-info.active {
  background-color: #00b332;
  border-color: #00992b;
}
.save-customer-info.disabled:hover,
.save-customer-info.disabled:focus,
.save-customer-info.disabled:active,
.save-customer-info.disabled.active,
.save-customer-info[disabled]:hover,
.save-customer-info[disabled]:focus,
.save-customer-info[disabled]:active,
.save-customer-info[disabled].active,
fieldset[disabled] .save-customer-info:hover,
fieldset[disabled] .save-customer-info:focus,
fieldset[disabled] .save-customer-info:active,
fieldset[disabled] .save-customer-info.active {
  background-color: #00cc39;
  border-color: #00cc39;
}