.order-list-table{
    width:100%;
    color:white;
    text-align: right;
    border-top:1px solid black;
    border-right:1px solid black;
    background:rgba(0,0,0,0.2);
}

.order-list-table th{
    background:rgba(0,0,0,0.4);
}

.order-list-table td, .order-list-table th{
    border-left:1px solid black;
    border-bottom:1px solid black;
    padding:5px;
}