@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@font-face { font-family: 'Alef'; font-weight: 400; font-style: normal; src: url("font-files/Alef-Regular.eot"); src: url("font-files/Alef-Regular.eot?#iefix") format("embedded-opentype"), url("font-files/Alef-Regular.woff") format("woff"), url("font-files/Alef-Regular.ttf") format("truetype"), url("font-files/Alef-Regular.svg#webfont") format("svg"); }
@font-face { font-family: 'Alef'; font-weight: 700; font-style: bold; src: url("font-files/Alef-Bold.eot"); src: url("font-files/Alef-Bold.eot?#iefix") format("embedded-opentype"), url("font-files/Alef-Bold.woff") format("woff"), url("font-files/Alef-Bold.ttf") format("truetype"), url("font-files/Alef-Bold.svg#webfont") format("svg"); }
*, *:before, *:after { box-sizing: border-box; }

html, body { margin: 0; padding: 0; direction: rtl; }

body { background: #312f30 url("images/bg-pizza-main.jpg") no-repeat center top; font-family: Alef, Arial, sans-serif; font-size: 16px; }

a { text-decoration: none; }

a, a:focus, input, select, textarea { outline: 0; }

.bi-section { width: 100%; max-width: 1600px; min-width: 320px; clear: both; margin: 0 auto; padding: 0; }
.bi-section .bi-container { width: 100%; max-width: 1024px; margin: 0 auto; padding: 0; }

header.main { width: 100%; height: 126px; background: transparent url("images/bg-page-header.png") repeat-x left top; margin-bottom: 72px; overflow: hidden; }
header.main img.top-togo { float: right; height: 110px; width: auto; }
header.main ul.personal { margin: 0; padding: 0; list-style-type: none; float: left; }
header.main ul.personal li { float: right; height: 108px; }
header.main ul.personal li.cart { width: 110px; background: transparent url("images/cart.png") no-repeat center; }
header.main ul.personal li.sign-in { font-size: 14px; line-height: 108px; color: #999; padding-left: 56px; }

.hp-pane { width: 49%; }
.hp-pane.specials { float: right; }
.hp-pane.specials .special-box { width: 100%; position: relative; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); margin-bottom: 30px; background-color: rgba(0, 0, 0, 0.33); }
.hp-pane.specials .special-box img { display: block; width: 100%; height: auto; }
.hp-pane.pizza { float: left; }
.hp-pane.pizza img.gr-title { margin-bottom: 0; }
.hp-pane.pizza img.make-pizza { display: block; width: 100%; height: auto; }
.hp-pane img.gr-title { display: block; width: 100%; height: auto; margin-bottom: 30px; }

#pizzaViewport { position: relative; width: 100%; padding-top: 30px; overflow: hidden; }
#pizzaViewport .smoke { position: absolute; width: 350px; height: 350px; background: transparent url("images/smoke-texture.png") no-repeat; bottom: 56px; margin-left: 0px; }
#pizzaViewport .button-wrapper { position: absolute; z-index: 2; left: 0; bottom: 0; width: 100%; }
#pizzaViewport .button-wrapper img { display: block; margin: 0 auto; width: 52%; height: auto; }

.hp-bottom { background: transparent url("images/bg-wood.png") repeat center top; padding-bottom: 56px; }
.hp-bottom .bottom-title { height: 75px; width: 100%; margin: 38px 0 23px; background: transparent url("images/bg-hp-bottom-title.png") no-repeat center; }
.hp-bottom .bottom-title img.title { display: block; margin: 0 auto; }
.hp-bottom .pizzerias { text-align: center; }

.pz-box { display: inline-block; overflow: hidden; margin: 0 15px 30px; width: 170px; height: 290px; border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.35); box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); }
.pz-box .photo { height: 105px; width: 100%; overflow: hidden; }
.pz-box .photo img { display: block; width: 100%; height: auto; }
.pz-box .details { height: 115px; width: 100%; background: transparent url("images/bg-black-op-50.png") repeat; padding-top: 16px; }
.pz-box .details .name { margin: 0 0 11px; color: #fcff00; font-size: 19px; text-align: center; }
.pz-box .details .row { width: 100%; margin: 0; padding: 0 30px; text-align: justify; color: #fff; font-size: 15px; overflow: hidden; }
.pz-box .details .row span { display: inline-block; float: left; }
.pz-box .time { height: 70px; width: 100%; background: transparent url("images/bg-323232-op-80.png") repeat; text-align: center; padding-top: 11px; }
.pz-box .time span { color: #fff; display: inline-block; }
.pz-box .time span.one { width: 45px; text-align: left; font-size: 16px; line-height: 1.1; }
.pz-box .time span.two { font-family: Oswald, sans-serif; font-size: 29px; font-weight: 700; letter-spacing: 1px; margin: 0 3px; }
.pz-box .time span.three { font-size: 18px; font-weight: bold; }

.footer { background: transparent url("images/bg-black-op-50.png") repeat; margin-top: -56px; text-align: center; color: #fff; font-size: 16px; line-height: 56px; }

.clearfix { zoom: 1; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }
