.addons-left-sidebar { width: 320px; float: left; margin: -38px 0 0 0; position: relative; }
.addons-left-sidebar img { display: block; width: 100%; height: auto; }
.addons-left-sidebar .toggle-button { width: 42px; height: 42px; border-radius: 0 5px 5px 0; background: transparent url("images/bg-shopping-cart.png") no-repeat right top; position: absolute; right: -42px; top: 0; cursor: pointer; text-align: center; line-height: 40px; font-weight: 700; color: #888; font-size: 21px; font-family: Oswald, sans-serif; display: none; }

.addons-pane { width: calc(100% - 330px); float: right; }
.addons-pane .title { background: transparent url("images/bg-title-addons.png") no-repeat center center; margin-bottom: 52px; }
.addons-pane .title img { display: block; margin: 0 auto; }

.addons-tiles .item { width: 400px; height: 200px; margin-bottom: 30px; background: transparent url("images/bg-black-op-50.png") repeat; position: relative; overflow: hidden; float: right; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); }
/*.addons-tiles .item:nth-child(odd) { margin-left: 30px; }*/
.addons-tiles .item img { position: absolute; z-index: 1; top: 0; right: 0; height: 100%; width: auto; }
.addons-tiles .item .bottom { position: absolute; z-index: 1; left: 0; bottom: 0; width: 100%; height: 75px; padding-right: 170px; }
.addons-tiles .item .bottom span { display: inline-block; margin-left: 23px; font-family: Oswald, sans-serif; font-size: 23px; line-height: 45px; color: #fff; }
.addons-tiles .item .bottom button { display: inline-block; width: 103px; height: 45px; border: none; background: transparent url("images/bg-btn-to-buy.png") no-repeat center; font-size: 20px; font-weight: 700; }
.addons-tiles .item .name { font-size: 21px; color: #fcff00; margin: 0; padding: 16px 170px 5px 30px; line-height: 1; }
.addons-tiles .item .descr { font-size: 18px; color: #fff; margin: 0; padding: 0 170px 0 30px; line-height: 1; }

.bi-section .bi-container.addons .mask { position: absolute; z-index: 2000; background-color: rgba(0, 0, 0, 0.26); left: 0; top: 0; right: 0; bottom: 0; display: none; }

/*.addons-tiles .item .controls { margin: 0; padding: 0; position: absolute; z-index: 2; left: 5px; top: 132px; list-style-type: none; }*/
/*.addons-tiles .item .controls li { float: right; width: 38px; height: 38px; }*/
/*.addons-tiles .item .controls li.plus { background: transparent url("images/drinks-plus.png") no-repeat center center; cursor: pointer; }*/
/*.addons-tiles .item .controls li.minus { background: transparent url("images/drinks-minus.png") no-repeat center center; cursor: pointer; }*/
/*.addons-tiles .item .controls li.minus.zero { opacity: 0.2; cursor: default; }*/
/*.addons-tiles .item .controls li.total { background: transparent url("images/drinks-blank.png") no-repeat center center; color: #fcff00; font-size: 18px; font-family: Oswald, sans-serif; line-height: 38px; margin: 0 3px; text-align: center; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; -o-user-select: none; }*/

@media (max-width: 768px) { .addons-left-sidebar { float: none; width: 320px; margin: 0; position: absolute; z-index: 2015; left: -310px; top: 35px; }
    .addons-left-sidebar img.bike { display: none; }
    .addons-left-sidebar .toggle-button { display: block; }
    .addons-pane { width: 100%; } }


.overlay-mask { z-index: 1000; }

.overlay-mask .iframe-wrapper { margin-top: 60px; }

.iframe-wrapper { position: relative; }


img.close-iframe { position: absolute; top: 0; right: 0; cursor: pointer; }

#addon-price{
    padding-right:170px;
    padding-left:5px;
}
#addon-name{
    padding-right:170px;
    padding-left:5px;
}
#addon-descr{
    padding-right:170px;
    padding-left:5px;
}
#addon-bottom{
    padding-right: 170px;
    padding-top:30px;
}
#addon-image{
    width:50% !important;
}