@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@font-face { font-family: 'nachlieli_clm'; src: url("font-files/nachlieliclm/nachlieliclm-bold-webfont.eot"); src: url("font-files/nachlieliclm/nachlieliclm-bold-webfont.eot?#iefix") format("embedded-opentype"), url("font-files/nachlieliclm/nachlieliclm-bold-webfont.woff") format("woff"), url("font-files/nachlieliclm/nachlieliclm-bold-webfont.ttf") format("truetype"), url("font-files/nachlieliclm/nachlieliclm-bold-webfont.svg#nachlieli_clmbold") format("svg"); font-weight: bold; font-style: normal; }
@font-face { font-family: 'nachlieli_clm'; src: url("font-files/nachlieliclm/nachlieliclm-boldoblique-webfont.eot"); src: url("font-files/nachlieliclm/nachlieliclm-boldoblique-webfont.eot?#iefix") format("embedded-opentype"), url("font-files/nachlieliclm/nachlieliclm-boldoblique-webfont.woff") format("woff"), url("font-files/nachlieliclm/nachlieliclm-boldoblique-webfont.ttf") format("truetype"), url("font-files/nachlieliclm/nachlieliclm-boldoblique-webfont.svg#nachlieli_clmboldoblique") format("svg"); font-weight: bold; font-style: italic; }
@font-face { font-family: 'nachlieli_clm'; src: url("font-files/nachlieliclm/nachlieliclm-light-webfont.eot"); src: url("font-files/nachlieliclm/nachlieliclm-light-webfont.eot?#iefix") format("embedded-opentype"), url("font-files/nachlieliclm/nachlieliclm-light-webfont.woff") format("woff"), url("font-files/nachlieliclm/nachlieliclm-light-webfont.ttf") format("truetype"), url("font-files/nachlieliclm/nachlieliclm-light-webfont.svg#nachlieli_clmlight") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'nachlieli_clm'; src: url("font-files/nachlieliclm/nachlieliclm-lightoblique-webfont.eot"); src: url("font-files/nachlieliclm/nachlieliclm-lightoblique-webfont.eot?#iefix") format("embedded-opentype"), url("font-files/nachlieliclm/nachlieliclm-lightoblique-webfont.woff") format("woff"), url("font-files/nachlieliclm/nachlieliclm-lightoblique-webfont.ttf") format("truetype"), url("font-files/nachlieliclm/nachlieliclm-lightoblique-webfont.svg#nachlieli_clmlightoblique") format("svg"); font-weight: normal; font-style: italic; }
*, *:before, *:after { box-sizing: border-box; }

.clearfix { zoom: 1; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

html, body { margin: 0; padding: 0; direction: rtl; height: 100%; }

body { background-color: #282825; background-image: url("images/bg-leaves.jpg"), url("images/bg.jpg"); background-position: center top, left top; background-repeat: no-repeat, repeat; font-family: Arial, sans-serif; font-size: 16px; }

button, input, select, textarea { font-family: Arial, sans-serif; }

a { text-decoration: none; cursor: pointer; }

a, input, select, textarea, *:focus { outline: 0; }

.bi-section { width: 100%; min-width: 480px; clear: both; margin: 0 auto; padding: 0; }
.bi-section .bi-container { width: 100%; max-width: 1024px; margin: 0 auto; padding: 0; position: relative; }
.bi-section .bi-container.enlarged { max-width: 1600px; }

@media (max-width: 1600px) { .bi-section .bi-container { padding: 0 10px; } }
.green { color: #9CE14E; }

.red { color: #EC3C40; }

.shadow { text-shadow: -2px 2px 2px #000; }

.pizzeria-name { margin: 20px 0; color: #fcff00; font-size: 26px; text-align: center; }

.page-header { height: 120px; background-color: rgba(0, 0, 0, 0.9); margin-bottom: 50px; overflow: hidden; box-shadow: 0 4px 17px -4px rgba(0, 0, 0, 0.75); border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
.page-header a img.top-logo { float: right; height: 110px; width: auto; margin-top: 5px; }
.page-header ul.personal { margin: 0; padding: 0; list-style-type: none; float: left; }
.page-header ul.personal li { display: inline-block; line-height: 120px; color: #999; }
.page-header ul.personal li a { color: #999; }
.page-header ul.personal li a:hover { text-decoration: underline; }

#main { min-height: calc(100% - 256px) !important; margin-bottom: 30px; }

.page-footer { height: 56px; background-color: rgba(0, 0, 0, 0.75); overflow: hidden; border-top: 1px solid rgba(255, 255, 255, 0.05); box-shadow: -4px -4px 17px -4px rgba(0, 0, 0, 0.75); }
.page-footer p { margin: 0; line-height: 56px; color: #a3a3a3; text-align: center; }

.hp-pane { width: 49%; margin-bottom: 50px; }
.hp-pane.specials { float: right; }
.hp-pane.specials .special-box { width: 100%; height: 205px; position: relative; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); margin-bottom: 30px; background-color: rgba(0, 0, 0, 0.56); }
.hp-pane.specials .special-box .content { position: absolute; z-index: 2; width: 50%; left: 0; top: 0; text-align: center; }
.hp-pane.specials .special-box .content .price { display: inline-block; margin: -10px 0 0 0; padding: 0; color: #fff; font-family: Oswald, sans-serif; font-size: 105px; font-weight: 700; direction: ltr; }
.hp-pane.specials .special-box .content .price .nis { font-size: 26px; }
.hp-pane.specials .special-box .content .price .prefix { color: #9CE14E; font-weight: 400; font-size: 19px; }
.hp-pane.specials .special-box .content .addson { margin: -15px 0 0; padding: 0 10px; color: #fcff00; font-size: 19px; line-height: 1.2; }
.hp-pane.specials .special-box img { display: block; position: absolute; z-index: 1; right: 0; bottom: 0; width: 50%; max-height: 200px; height:auto;}
.hp-pane.pizza { float: left; }
.hp-pane.pizza img.gr-title { margin-bottom: 0; }
.hp-pane.pizza img.make-pizza { display: block; width: 100%; height: auto; }
.hp-pane img.gr-title { display: block; width: 100%; height: auto; margin-bottom: 30px; }

#pizzaViewport { position: relative; width: 100%; padding-top: 30px; overflow: hidden; }
#pizzaViewport .smoke { position: absolute; width: 350px; height: 350px; background: transparent url("images/smoke-texture.png") no-repeat; bottom: 56px; margin-left: 0px; }
#pizzaViewport button.make-pizza { display: block; position: absolute; z-index: 2; left: 50%; bottom: 0; width: 262px; height: 65px; margin-left: -131px; background: transparent url("images/hp-make-pizza-btn.png") no-repeat center center; background-size: 100% 100%; border: none; }

.hp-bottom .bi-container { background: transparent url("images/bg-wood.png") repeat center top; }
.hp-bottom .bi-container .bottom-title { height: 75px; width: 100%; margin: 38px 0 23px; background: transparent url("images/bg-hp-bottom-title.png") no-repeat center; }
.hp-bottom .bi-container .bottom-title img.title { display: block; margin: 0 auto; }
.hp-bottom .bi-container .pizzerias { text-align: center; }

#address-modal-content { display: none; width: 100%; height: 100%; background: transparent url("images/bg-popup.jpg") repeat left top; box-shadow: 0 4px 17px 7px rgba(0, 0, 0, 0.75); }

@media (max-width: 1200px) { .hp-pane.specials .special-box { height: 195px; }
  .hp-pane.specials .special-box .content .price { margin-top: 0; font-size: 95px; }
  .hp-pane.specials .special-box .content .price .prefix { font-size: 19px; }
  .hp-pane.specials .special-box .content .addson { font-size: 18px; }
  #pizzaViewport button.make-pizza { width: 200px; height: 52px; margin-left: -100px; } }
@media (max-width: 960px) { .hp-pane.specials .special-box { height: 195px; }
  .hp-pane.specials .special-box .content { margin-top: 10px; }
  .hp-pane.specials .special-box .content .price { margin-top: 0; font-size: 80px; }
  .hp-pane.specials .special-box .content .price .nis { font-size: 21px; }
  .hp-pane.specials .special-box .content .price .prefix { font-size: 19px; }
  .hp-pane.specials .special-box .content .addson { font-size: 16px; margin-top: -7px; } }
@media (max-width: 768px) { .hp-pane { width: 100%; }
  .hp-pane.specials { float: none; }
  .hp-pane.specials .special-box { width: 460px; height: 195px; margin: 0 auto 30px; }
  .hp-pane.specials .special-box .content { margin-top: 10px; }
  .hp-pane.specials .special-box .content .price { margin-top: 0; font-size: 80px; }
  .hp-pane.specials .special-box .content .price .nis { font-size: 21px; }
  .hp-pane.specials .special-box .content .price .prefix { font-size: 19px; }
  .hp-pane.specials .special-box .content .addson { font-size: 16px; margin-top: -7px; }
  .hp-pane.pizza { float: none; }
  .hp-pane img.gr-title { display: block; width: 460px; height: auto; margin: 0 auto 20px; } }
.pz-box { display: inline-block; overflow: hidden; margin: 0 15px 30px; width: 170px; height: 290px; border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.35); box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); }
.pz-box .photo { height: 105px; width: 100%; overflow: hidden; }
.pz-box .photo img { display: block; width: 100%; height: auto; }
.pz-box .details { height: 115px; width: 100%; background: transparent url("images/bg-black-op-50.png") repeat; padding-top: 16px; }
.pz-box .details .name { margin: 0 0 11px; color: #fcff00; font-size: 19px; text-align: center; }
.pz-box .details .row { width: 100%; margin: 0; padding: 0 30px; text-align: justify; color: #fff; font-size: 15px; overflow: hidden; }
.pz-box .details .row span { display: inline-block; float: left; }
.pz-box .time { height: 70px; width: 100%; background: transparent url("images/bg-323232-op-80.png") repeat; text-align: center; padding-top: 11px; }
.pz-box .time span { color: #fff; display: inline-block; }
.pz-box .time span.one { width: 45px; text-align: left; font-size: 16px; line-height: 1.1; }
.pz-box .time span.two { font-family: Oswald, sans-serif; font-size: 29px; font-weight: 700; letter-spacing: 1px; margin: 0 3px; }
.pz-box .time span.three { font-size: 18px; font-weight: bold; }

.mkp-work-pad { width: calc(100% - 380px); float: right; margin-right: 20px; min-height: 926px; }

.mkp-page-title { height: 50px; background: transparent url("images/make-pizza-title.png") no-repeat center center; background-size: auto 47px; margin-bottom: 20px; }

ul.mkp-categories { margin: 0 10px 0 0; padding: 0; list-style-type: none; width: 37%; float: right; }
ul.mkp-categories li.section { width: 100%; background: transparent url("images/pizza-categ-title-bg.png") no-repeat right 47px; }
ul.mkp-categories li.section a.pz-components-title { cursor: pointer; display: block; }
ul.mkp-categories li.section a.pz-components-title img { display: block; }
ul.mkp-categories li.section ul.pz-components { margin: 0 0 18px 0; padding: 0; list-style-type: none; display: none; }
ul.mkp-categories li.section ul.pz-components.open { display: block; }
ul.mkp-categories li.section ul.pz-components li { overflow: hidden; position: relative; color: #fff; font-size: 18px; line-height: 38px; padding-right: 10px; border-bottom: 3px solid rgba(255, 255, 255, 0.1); }
ul.mkp-categories li.section ul.pz-components li ul.selection { width: 125px; margin: 5px 0 0 0; padding: 0; list-style-type: 0; white-space: normal; float: left; overflow: hidden; }
ul.mkp-categories li.section ul.pz-components li ul.selection li { display: inline-block; width: 26px; height: 26px; margin: 0 3px 0 0; padding: 0; border: none; border-radius: 13px; overflow: hidden; position: relative; line-height: 1; }
ul.mkp-categories li.section ul.pz-components li ul.selection li.quarters-visibility { display: none; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio], ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox] { opacity: 0; width: 26px; height: 26px; margin: 0; padding: 0; cursor: pointer; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio] + label, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox] + label { display: block; position: absolute; z-index: -1; left: 0; top: 0; width: 26px; height: 26px; background: transparent url("images/pz-selection.png") no-repeat center; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio] + label.l-half, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox] + label.l-half { background-position: -104px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio] + label.r-half, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox] + label.r-half { background-position: -156px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio] + label.whole, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox] + label.whole { background-position: -208px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio] + label.quarter-nw, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox] + label.quarter-nw { background-color: rgba(0, 0, 0, 0.75); background-position: -52px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio] + label.quarter-sw, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox] + label.quarter-sw { background-color: rgba(0, 0, 0, 0.75); background-position: -364px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio] + label.quarter-se, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox] + label.quarter-se { background-color: rgba(0, 0, 0, 0.75); background-position: -312px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio] + label.quarter-ne, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox] + label.quarter-ne { background-color: rgba(0, 0, 0, 0.75); background-position: -260px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio]:checked + label.l-half, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox]:checked + label.l-half { background-position: -130px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio]:checked + label.r-half, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox]:checked + label.r-half { background-position: -182px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio]:checked + label.whole, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox]:checked + label.whole { background-position: -234px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio]:checked + label.quarter-nw, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox]:checked + label.quarter-nw { background-position: -78px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio]:checked + label.quarter-sw, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox]:checked + label.quarter-sw { background-position: -390px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio]:checked + label.quarter-se, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox]:checked + label.quarter-se { background-position: -338px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=radio]:checked + label.quarter-ne, ul.mkp-categories li.section ul.pz-components li ul.selection li input[type=checkbox]:checked + label.quarter-ne { background-position: -286px 0; }
ul.mkp-categories li.section ul.pz-components li ul.selection li label.quarter { display: block; width: 26px; height: 26px; background: transparent url("images/pz-selection.png") no-repeat -52px 0; cursor: pointer; border-radius: 13px; }
ul.mkp-categories li.section ul.pz-components li ul.selection li label.quarter:hover { background-color: rgba(0, 0, 0, 0.5); }

.mkp-pizza-base { width: 60%; height: auto; position: relative; float: left; }
.mkp-pizza-base img.base-layer { width: 100%; height: auto; }

.mkp-order-buttons { position: absolute; z-index: 100; left: -330px; top: 535px; width: 320px; }
.mkp-order-buttons img { display: block; width: 100%; height: auto; }
.mkp-order-buttons button { display: block; border: none; background: transparent none; margin: 0; padding: 0; }
.mkp-order-buttons button.first-button { margin-bottom: 18px; }

.mkp-left-sidebar { width: 320px; float: left; margin: -44px 0 0 30px; position: relative; }
.mkp-left-sidebar img.bike { width: 100%; height: auto; }
.mkp-left-sidebar .toggle-button { width: 42px; height: 42px; border-radius: 0 5px 5px 0; background: transparent url("images/bg-shopping-cart.png") no-repeat right top; position: absolute; right: -42px; top: 0; cursor: pointer; text-align: center; line-height: 40px; font-weight: 700; color: #888; font-size: 21px; font-family: Oswald, sans-serif; display: none; }

.bi-section .bi-container.mkp .mask { position: absolute; z-index: 2000; background-color: rgba(0, 0, 0, 0.26); left: 0; top: 0; right: 0; bottom: 0; display: none; }

@media (max-width: 1200px) { .mkp-work-pad { width: calc(100% - 340px); margin-right: 10px; }
  .mkp-left-sidebar { width: 320px; margin-left: 10px; }
  .mkp-left-sidebar img.bike { width: 100%; height: auto; }
  .mkp-order-buttons { left: -320px; }
  .mkp-order-buttons button.first-button { margin-bottom: 12px; }
  ul.mkp-categories { margin: 0 10px 0 0; padding: 0; list-style-type: none; width: 37%; float: right; }
  ul.mkp-categories li.section { width: 100%; background: transparent url("images/pizza-categ-title-bg.png") no-repeat right 47px; }
  ul.mkp-categories li.section a.pz-components-title { cursor: pointer; display: block; }
  ul.mkp-categories li.section a.pz-components-title img { display: block; }
  ul.mkp-categories li.section ul.pz-components { margin: 0 0 18px 0; padding: 0; list-style-type: none; display: none; }
  ul.mkp-categories li.section ul.pz-components.open { display: block; }
  ul.mkp-categories li.section ul.pz-components li ul.selection { width: 130px; margin: 5px 0 0 0; padding: 0; float: none; }
  ul.mkp-categories li.section ul.pz-components li ul.selection li:first-child, ul.mkp-categories li.section ul.pz-components li ul.selection li.quarters-start { margin-right: 0; } }
@media (max-width: 960px) { .bi-section .bi-container.mkp { overflow: hidden; }
  .mkp-left-sidebar { float: none; width: 320px; margin: 0; position: absolute; z-index: 2015; left: -310px; top: 35px; }
  .mkp-left-sidebar img.bike { display: none; }
  .mkp-left-sidebar .toggle-button { display: block; }
  .mkp-work-pad { width: calc(100% - 20px); margin-right: 10px; margin-left: 10px; }
  .mkp-order-buttons { left: 0px; top: 90%; width: 240px; }
  .mkp-order-buttons img { display: block; width: 100%; height: auto; }
  .mkp-order-buttons button { display: block; border: none; background: transparent none; margin: 0; padding: 0; } }
.mkp-pizza-base .pizza-layer { position: absolute; z-index: 50; top: 0; left: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-size: 100% 100%; background-position: center center; display: none; }
.mkp-pizza-base .pizza-layer.whole_green_olives { background-image: url("images/pz-layers/whole_green_olives.png"); }
.mkp-pizza-base .pizza-layer.l-half_green_olives { background-image: url("images/pz-layers/l-half_green_olives.png"); }
.mkp-pizza-base .pizza-layer.r-half_green_olives { background-image: url("images/pz-layers/r-half_green_olives.png"); }
.mkp-pizza-base .pizza-layer.nw_green_olives { background-image: url("images/pz-layers/nw_green_olives.png"); }
.mkp-pizza-base .pizza-layer.ne_green_olives { background-image: url("images/pz-layers/ne_green_olives.png"); }
.mkp-pizza-base .pizza-layer.sw_green_olives { background-image: url("images/pz-layers/sw_green_olives.png"); }
.mkp-pizza-base .pizza-layer.se_green_olives { background-image: url("images/pz-layers/se_green_olives.png"); }

div.shopping-cart { overflow: hidden; background: transparent url("images/bg-shopping-cart.png") repeat-y center top; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); padding: 0 20px 20px; width: 320px; height: auto; }
div.shopping-cart div.title-row { text-align: center; padding-top: 20px; }
div.shopping-cart div.title-row p { display: inline-block; margin: 0; box-sizing: content-box; padding: 0 20px; position: relative; color: #414d58; font-size: 23px; }
div.shopping-cart div.title-row p:before { content: url("images/row-pattern-right.png"); }
div.shopping-cart div.title-row p:after { content: url("images/row-pattern-left.png"); }
div.shopping-cart div.order-row, div.shopping-cart div.order-last-row { border-bottom: 1px solid #d3d5d6; padding: 10px 0; }
div.shopping-cart div.order-row span, div.shopping-cart div.order-last-row span { display: inline-block; color: #414d58; vertical-align: middle; font-size: 15px; }
div.shopping-cart div.order-row span.col-1, div.shopping-cart div.order-last-row span.col-1 { width: 40px; }
div.shopping-cart div.order-row span.col-2, div.shopping-cart div.order-last-row span.col-2 { width: 140px; line-height: 1; }
div.shopping-cart div.order-row span.col-3, div.shopping-cart div.order-last-row span.col-3 { width: 60px; font-size: 14px; font-weight: 700; font-family: Oswald, sans-serif; }
div.shopping-cart div.order-row span.col-3:before, div.shopping-cart div.order-last-row span.col-3:before { content: '\20AA'; }
div.shopping-cart div.order-row span.col-4, div.shopping-cart div.order-last-row span.col-4 { width: 20px; }
div.shopping-cart div.order-row span img, div.shopping-cart div.order-last-row span img { display: block; }
div.shopping-cart div.order-last-row { border-bottom: none; padding: 20px 0; }
div.shopping-cart div.order-last-row span.last { width: 200px; }
div.shopping-cart button.checkout { display: block; width: 280px; height: 65px; border: none; background: transparent url("images/btn-order-checkout.png") no-repeat center center; }

.drinks-left-sidebar { width: 320px; float: left; margin: -38px 0 0 0; position: relative; }
.drinks-left-sidebar img { display: block; width: 100%; height: auto; }
.drinks-left-sidebar .toggle-button { width: 42px; height: 42px; border-radius: 0 5px 5px 0; background: transparent url("images/bg-shopping-cart.png") no-repeat right top; position: absolute; right: -42px; top: 0; cursor: pointer; text-align: center; line-height: 40px; font-weight: 700; color: #888; font-size: 21px; font-family: Oswald, sans-serif; display: none; }

.drinks-pane { width: calc(100% - 330px); float: right; }
.drinks-pane .title { background: transparent url("images/bg-title-drinks.png") no-repeat center center; margin-bottom: 52px; }
.drinks-pane .title img { display: block; margin: 0 auto; }

.drink-tiles .item { width: 320px; height: 200px; margin-bottom: 30px; background: transparent url("images/bg-black-op-50.png") repeat; position: relative; overflow: hidden; float: right; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); }
.drink-tiles .item:nth-child(odd) { margin-left: 30px; }
.drink-tiles .item img { position: absolute; z-index: 1; top: 0; right: 0; height: 100%; width: auto; }
.drink-tiles .item .bottom { position: absolute; z-index: 1; left: 0; bottom: 0; width: 100%; height: 75px; padding-right: 95px; }
.drink-tiles .item .bottom span { display: inline-block; margin-left: 23px; font-family: Oswald, sans-serif; font-size: 23px; line-height: 45px; color: #fff; }
.drink-tiles .item .bottom button { display: inline-block; width: 103px; height: 45px; border: none; background: transparent url("images/bg-btn-to-buy.png") no-repeat center; font-size: 20px; font-weight: 700; }
.drink-tiles .item .name { font-size: 21px; color: #fcff00; margin: 0; padding: 16px 95px 5px 30px; line-height: 1; }
.drink-tiles .item .descr { font-size: 18px; color: #fff; margin: 0; padding: 0 95px 0 30px; line-height: 1; }

.bi-section .bi-container.drinks .mask { position: absolute; z-index: 2000; background-color: rgba(0, 0, 0, 0.26); left: 0; top: 0; right: 0; bottom: 0; display: none; }

.drink-tiles .item .controls { margin: 0; padding: 0; position: absolute; z-index: 2; left: 5px; top: 132px; list-style-type: none; }
.drink-tiles .item .controls li { float: right; width: 38px; height: 38px; }
.drink-tiles .item .controls li.plus { background: transparent url("images/drinks-plus.png") no-repeat center center; cursor: pointer; }
.drink-tiles .item .controls li.minus { background: transparent url("images/drinks-minus.png") no-repeat center center; cursor: pointer; }
.drink-tiles .item .controls li.minus.zero { opacity: 0.2; cursor: default; }
.drink-tiles .item .controls li.total { background: transparent url("images/drinks-blank.png") no-repeat center center; color: #fcff00; font-size: 18px; font-family: Oswald, sans-serif; line-height: 38px; margin: 0 3px; text-align: center; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; -o-user-select: none; }

@media (max-width: 768px) { .drinks-left-sidebar { float: none; width: 320px; margin: 0; position: absolute; z-index: 2015; left: -310px; top: 35px; }
  .drinks-left-sidebar img.bike { display: none; }
  .drinks-left-sidebar .toggle-button { display: block; }
  .drinks-pane { width: 100%; } }
img.srch-title { display: block; width: 100%; height: auto; margin-bottom: 32px; }

.top-buttons-row { overflow: hidden; margin-bottom: 24px; }
.top-buttons-row button { display: block; padding: 2px 20px; font-size: 15px; font-weight: 700; line-height: 31px; border-radius: 2px; color: #fff; border: 2px solid #fff; background: transparent none; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); }
.top-buttons-row button.by-price { float: right; margin-left: 15px; }
.top-buttons-row button.by-distance { float: right; }
.top-buttons-row button.go-back { float: left; }
.top-buttons-row button.active { border-color: rgba(156, 225, 78, 0.2); background-color: rgba(156, 225, 78, 0.5); color: #000; }

ul.srch-item { margin: 0; padding: 0; list-style-type: none; width: 100%; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); margin-bottom: 30px; /*button.inner { display: block; width: 112px; height: 31px; border: 1px solid $color-brand-main; color: $color-brand-main; margin: 12px 15px 0 0; background-color: transparent; border-radius: 2px; font-size: 15px; box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
}*/ }
ul.srch-item li { float: right; overflow: hidden; height: 140px; background: transparent url("images/bg-black-op-50.png") repeat; }
ul.srch-item li.col-1 { width: 13.5%; border-left: 2px solid rgba(0, 0, 0, 0.5); }
ul.srch-item li.col-2 { width: 7%; }
ul.srch-item li.col-3 { width: 19%; }
ul.srch-item li.col-3 .row { padding: 0 25px; margin-bottom: 0; }
ul.srch-item li.col-4 { width: 16.5%; }
ul.srch-item li.col-5 { width: 15.5%; }
ul.srch-item li.col-6 { width: 13%; background: #231F20 none; border-right: 1px solid rgba(255, 255, 255, 0.2); border-left: 1px solid rgba(255, 255, 255, 0.2); }
ul.srch-item li.col-7 { width: 15.5%; }
ul.srch-item li.col-specials-1 { width: 20.5%; height: 38px; background: transparent url("images/bg-black-op-60.png") repeat; }
ul.srch-item li.col-specials-1 p { margin: 0; padding: 0 70px 0 0; background: transparent url("images/gift-box.png") no-repeat right center; line-height: 38px; color: #fff; font-size: 16px; font-weight: 700; }
ul.srch-item li.col-specials-2 { width: 79.5%; background: transparent url("images/bg-black-op-40.png") repeat; height: 38px; }
ul.srch-item li.col-specials-2 p { margin: 0; padding: 0 25px 0 0; line-height: 38px; color: #fff; font-size: 16px; font-weight: 700; }
ul.srch-item li.col-specials-2 p span { color: #9CE14E; font-size: 14px; font-weight: 400; }
ul.srch-item .kosher, ul.srch-item .status { display: block; width: 100%; height: 69px; background-repeat: repeat; background-image: url("images/bg-srch-green.png"); line-height: 69px; text-align: center; color: #fff; font-size: 18px; font-weight: 700; }
ul.srch-item .kosher { height: 71px; border-bottom: 2px solid rgba(0, 0, 0, 0.5); }
ul.srch-item .status.closed { background-image: url("images/bg-srch-red.png"); }
ul.srch-item .pizzeria-name { font-size: 21px; font-weight: 400; margin: 0; padding: 21px 0 0; padding-right: 25px; color: #fcff00; }
ul.srch-item .row { color: #ffffff; font-size: 15px; margin: 0 0 5px 0; padding: 0 15px; overflow: hidden; font-family: Arial,sans-serif; }
ul.srch-item .row.top { font-size: 19px; padding-top: 25px; margin-bottom: 0; }
ul.srch-item .row.no-take-away { text-align: center; color: #EC3C40; font-size: 19px; line-height: 1; margin: 0; padding: 48px 0 0; }
ul.srch-item .row .rating { float: left; margin-left: 26px; }
ul.srch-item .row .feedbacks { font-family: sans-serif; color: #9CE14E; font-size: 13px; font-weight: bold; }
ul.srch-item a.do-change { color: #fcff00; font-weight: bold; text-decoration: none; }
ul.srch-item a.do-change:hover { text-decoration: underline; }
ul.srch-item button.buy { display: block; margin: 0 auto; width: 103px; height: 45px; background: transparent url("images/bg-btn-to-buy.png") no-repeat center; border: none; font-size: 18px; font-weight: 700; color: #1f241e; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); }
ul.srch-item .price { color: #fff; font-family: Oswald, sans-serif; font-size: 28px; text-align: center; margin: 26px auto 0; }
ul.srch-item .price span { font-size: 16px; }
ul.srch-item .time-num { font-family: Oswald, sans-serif; font-size: 56px; }
ul.srch-item .time-min { font-size: 22px; font-weight: 700; }

/*
// **********************************
// RESPONSIVE
// **********************************
// 961 - 1200
@media (max-width: 1050px) { ul.srch-item {
 li {
 &.col-1 { display: none } &.col-2 { width: 7%; } &.col-3 { width: 22%; } &.col-4 { width: 19%; } &.col-5 { width: 17%; } &.col-6 { width: 17%; text-align: center; } &.col-7 { width: 18%; }
 &.col-specials-1 { width: 21%; height: 38px; } &.col-specials-2 { width: 79%; } } }
}
// ======= end of 1050

@media (max-width: 960px) { ul.srch-item {
 li { &.col-2 { width: 22%; } &.col-3 { width: 26%; } &.col-4 { width: 26%; } &.col-5 { width: 26%; } &.col-6 { width: 50%; height: 79px; border-right: none; border-top: 1px solid rgba(0, 0, 0, 0.35); padding-top: 15px;
 .row { display: inline; vertical-align: bottom; padding-left: 0; padding-right: 5px;
 &.top { padding-left: 0; padding-right: 0; } } } &.col-7 { width: 50%; height: 79px; border-top: 1px solid rgba(0, 0, 0, 0.35); text-align: center;  padding-top: 15px; }
 &.col-specials-1 { width: 25%; } &.col-specials-2 { width: 75%; } }
 button.buy { display: inline-block; width: 103px; height: 45px; vertical-align: bottom; }
 .price { display: inline; font-size: 28px; margin: 26px auto 0; vertical-align: bottom;
 span { font-size: 16px; } }
 .time-num { font-size: 24px; } .time-min { font-size: 16px; font-weight: 400; } }
}
// ======= end of 960

@media (max-width: 768px) { ul.srch-item {
 li { &.col-2 { width: 25%; height: 45px;
 .kosher, .status { display: inline-block; width: 47%; border: none; height: 45px; line-height: 45px; margin: 0; padding: 0; } } &.col-3 { width: 75%; height: 45px; .pizzeria-name { background-color: rgba(0, 0, 0, 0.26); margin: 0; padding: 0 20px; line-height: 45px; } .row { display: none; } } &.col-4 { width: 50%; border-left: 1px solid rgba(255, 255, 255, 0.2); } &.col-5 { width: 50%; } &.col-6 { width: 50%; height: 79px; border-right: none; border-top: 1px solid rgba(0, 0, 0, 0.35); padding-top: 15px;
 .row { display: inline; vertical-align: bottom; padding-left: 0; padding-right: 5px;
 &.top { padding-left: 0; padding-right: 0; } } } &.col-7 { width: 50%; height: 79px; border-top: 1px solid rgba(0, 0, 0, 0.35); text-align: center;  padding-top: 15px; }
 &.col-specials-1 { width: 45%; } &.col-specials-2 { width: 55%; } }
 button.buy { display: inline-block; width: 103px; height: 45px; vertical-align: bottom; }
 .price { display: inline; font-size: 28px; margin: 26px auto 0; vertical-align: bottom;
 span { font-size: 16px; } }
 .time-num { font-size: 24px; } .time-min { font-size: 16px; font-weight: 400; } }
}
// ======= end of 961 - 1200

@media (max-width: 1050px) {
}
// ======= end of 961 - 1200
*/
.top-buttons-row { overflow: hidden; margin: 0 auto 24px; width: 930px; }
.top-buttons-row button { display: block; padding: 2px 20px; font-size: 15px; font-weight: 700; line-height: 31px; border-radius: 2px; color: #fff; border: 2px solid #fff; background: transparent none; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); }
.top-buttons-row button.by-price { float: right; margin-left: 15px; }
.top-buttons-row button.by-distance { float: right; }
.top-buttons-row button.go-back { float: left; }
.top-buttons-row button.active { border-color: rgba(156, 225, 78, 0.2); background-color: rgba(156, 225, 78, 0.5); color: #000; }

.pz-list ul.pizzeria { width: 930px; margin: 0 auto 30px; padding: 0; list-style-type: none; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); background: transparent url("images/bg-black-op-60.png") repeat; }
.pz-list ul.pizzeria li { float: right; }
.pz-list ul.pizzeria li.col1 { width: 140px; height: 140px; }
.pz-list ul.pizzeria li.col1 img { width: 100%; height: 100%; display: block; }
.pz-list ul.pizzeria li.title-row { width: 790px; height: 36px; color: #fcff00; font-size: 21px; font-weight: 400; line-height: 36px; background-image: url("images/bg-black-op-40.png"); padding-right: 15px; }
.pz-list ul.pizzeria li.title-row .reviews { display: block; float: left; height: 100%; color: #fff; font-size: 15px; padding-left: 15px; }
.pz-list ul.pizzeria li.title-row .reviews .pipe { color: #999; font-size: 13px; }
.pz-list ul.pizzeria li.title-row .reviews a { text-decoration: underline; color: #9CE14E; font-size: 12px; }
.pz-list ul.pizzeria li.col2 { width: 75px; height: 104px; border-right: 2px solid transparent; }
.pz-list ul.pizzeria li.col2 span { display: block; height: 51px; margin-bottom: 2px; background: transparent url("images/bg-srch-green.png") repeat; color: #fff; font-weight: 700; text-align: center; line-height: 51px; }
.pz-list ul.pizzeria li.col2 span.bg-red { background-image: url("images/bg-srch-red.png"); }
.pz-list ul.pizzeria li.col2 span:last-child { margin-bottom: 0; }
.pz-list ul.pizzeria li.col3 { width: 130px; height: 104px; background: #231f20 none; border-right: 1px solid rgba(255, 255, 255, 0.1); border-left: 1px solid rgba(255, 255, 255, 0.1); color: #fff; text-align: center; }
.pz-list ul.pizzeria li.col3 p { margin: 0; padding: 7px 0 0; font-size: 18px; }
.pz-list ul.pizzeria li.col3 p.no-delivery { line-height: 1.2; padding: 29px 0 0; color: #EC3C40; }
.pz-list ul.pizzeria li.col3 .delivery-time { font-family: Oswald, sans-serif; font-size: 44px; }
.pz-list ul.pizzeria li.col3 .delivery-time-suffix { font-size: 21px; }
.pz-list ul.pizzeria li.col4 { width: 240px; height: 104px; padding: 0 15px 0; color: #fff; border-left: 1px solid rgba(255, 255, 255, 0.1); }
.pz-list ul.pizzeria li.col4 div { height: 50px; margin: 0; padding: 0; font-size: 14px; line-height: 18px; padding: 10px 0; }
.pz-list ul.pizzeria li.col4 div .change { display: inline-block; font-size: 14px; line-height: 18px; background-color: rgba(252, 255, 0, 0.5); color: #000; border-radius: 3px; padding: 0 5px; margin-right: 10px; box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.6); }
.pz-list ul.pizzeria li.col4 div .change:hover { background-color: #e6e6e6; }
.pz-list ul.pizzeria li.col4 hr { margin: 0; border: 0; height: 1px; background-image: linear-gradient(to right, rgba(90, 90, 90, 0), rgba(90, 90, 90, 0.75), rgba(90, 90, 90, 0)); }
.pz-list ul.pizzeria li.col5 { width: 180px; height: 104px; border-left: 1px solid rgba(255, 255, 255, 0.1); color: #fff; padding-right: 15px; }
.pz-list ul.pizzeria li.col5 p { margin: 0; padding: 7px 0 0; font-size: 18px; }
.pz-list ul.pizzeria li.col5 p.data { font-size: 14px; }
.pz-list ul.pizzeria li.col5 p .price-tooltip { display: inline-block; margin-right: 10px; background-color: rgba(252, 255, 0, 0.5); color: #000; font-weight: bold; font-family: sans-serif; padding: 0 7px; box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.6); border-radius: 3px; }
.pz-list ul.pizzeria li.col5 p .price-tooltip:hover { background-color: #e6e6e6; }
.pz-list ul.pizzeria li.col6 { width: 165px; height: 104px; }
.pz-list ul.pizzeria li.col6 .price { color: #fff; font-family: Oswald, sans-serif; font-size: 26px; text-align: center; margin: 0; padding-top: 6px; }
.pz-list ul.pizzeria li.col6 .price span { font-size: 16px; }
.pz-list ul.pizzeria li.col6 button.buy { display: block; margin: 0 auto; width: 80px; height: 35px; background: transparent url("images/bg-btn-to-buy.png") no-repeat center; background-size: 100% 100%; border: none; font-size: 16px; font-weight: 700; color: #1f241e; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); }
.pz-list ul.pizzeria li.col7specials { width: 215px; height: 38px; background: transparent url("images/bg-black-op-60.png") repeat; }
.pz-list ul.pizzeria li.col7specials p { margin: 0; padding: 0 70px 0 0; background: transparent url("images/gift-box.png") no-repeat right center; line-height: 38px; color: #fff; font-size: 16px; font-weight: 700; }
.pz-list ul.pizzeria li.col8specials { width: 715px; height: 38px; background: transparent none; border-top: 1px solid rgba(255, 255, 255, 0.1); }
.pz-list ul.pizzeria li.col8specials p { margin: 0; padding: 0 25px 0 0; line-height: 38px; color: #fff; font-size: 16px; font-weight: 700; }
.pz-list ul.pizzeria li.col8specials p span { color: #9CE14E; font-size: 14px; font-weight: 400; }

@media (max-width: 960px) { .top-buttons-row { width: 740px; }
  .pz-list ul.pizzeria { width: 740px; }
  .pz-list ul.pizzeria li.col1 { display: none; }
  .pz-list ul.pizzeria li.title-row { width: 740px; }
  .pz-list ul.pizzeria li.col2 { width: 75px; border-right: none; }
  .pz-list ul.pizzeria li.col3 { width: 265px; }
  .pz-list ul.pizzeria li.col3 p.no-delivery { padding-top: 40px; }
  .pz-list ul.pizzeria li.col4 { width: 400px; border-left: none; }
  .pz-list ul.pizzeria li.col5 { width: 340px; border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .pz-list ul.pizzeria li.col6 { width: 400px; border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .pz-list ul.pizzeria li.col7specials { width: 215px; border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .pz-list ul.pizzeria li.col8specials { width: 525px; } }
@media (max-width: 768px) { .top-buttons-row { width: 450px; }
  .pz-list ul.pizzeria { width: 450px; }
  .pz-list ul.pizzeria li { float: right; }
  .pz-list ul.pizzeria li.col1 { display: none; }
  .pz-list ul.pizzeria li.title-row { width: 450px; height: auto; font-size: 18px; line-height: 1.2; padding: 7px 12px; }
  .pz-list ul.pizzeria li.title-row .reviews { float: none; height: auto; padding: 0; }
  .pz-list ul.pizzeria li.col2 { width: 152px; height: 51px; border-right: none; }
  .pz-list ul.pizzeria li.col2 span { width: 75px; display: block; float: right; height: 51px; margin: 0 0 0 2px; }
  .pz-list ul.pizzeria li.col2 span:last-child { margin: 0; }
  .pz-list ul.pizzeria li.col3 { width: 298px; height: 51px; border-left: none; padding-top: 0; }
  .pz-list ul.pizzeria li.col3 p, .pz-list ul.pizzeria li.col3 div { display: inline-block; }
  .pz-list ul.pizzeria li.col3 p { margin: 0; padding: 0; font-size: 18px; }
  .pz-list ul.pizzeria li.col3 p.no-delivery { line-height: 51px; padding: 0; color: #EC3C40; }
  .pz-list ul.pizzeria li.col3 .delivery-time { font-size: 33px; margin: 0 5px; }
  .pz-list ul.pizzeria li.col3 .delivery-time-suffix { font-size: 18px; }
  .pz-list ul.pizzeria li.col4 { width: 450px; height: auto; padding: 0 15px 0; border-left: none; border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .pz-list ul.pizzeria li.col4 div { height: auto; }
  .pz-list ul.pizzeria li.col5 { width: 225px; height: 93px; padding-right: 15px; }
  .pz-list ul.pizzeria li.col5 p { margin: 0; padding: 7px 0 0; font-size: 18px; }
  .pz-list ul.pizzeria li.col5 p.data { font-size: 14px; }
  .pz-list ul.pizzeria li.col5 p .price-tooltip { display: inline-block; margin-right: 10px; background-color: rgba(252, 255, 0, 0.5); color: #000; font-weight: bold; font-family: sans-serif; padding: 0 7px; box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.6); border-radius: 3px; }
  .pz-list ul.pizzeria li.col5 p .price-tooltip:hover { background-color: #e6e6e6; }
  .pz-list ul.pizzeria li.col6 { width: 225px; height: 93px; }
  .pz-list ul.pizzeria li.col7specials { display: none; }
  .pz-list ul.pizzeria li.col8specials { width: 450px; height: auto; }
  .pz-list ul.pizzeria li.col8specials p { margin: 0; padding: 5px 15px; line-height: 1; } }
#addressModalContent { width: 100%; max-width: 720px; height: 450px; margin: 0 auto; background: #333 url("images/bg-leaves.jpg") no-repeat center bottom; box-shadow: 0 4px 17px 7px rgba(0, 0, 0, 0.75); text-align: right; position: relative; }

ul.address-tabs-row { margin: 0; padding: 0; list-style-type: none; width: 100%; }
ul.address-tabs-row li { width: 33%; height: 60px; background: #efefef url("images/bg-tab-address.png") no-repeat right bottom; float: right; line-height: 60px; padding-right: 75px; position: relative; color: #888; cursor: pointer; }
ul.address-tabs-row li:last-child { width: 34%; }
ul.address-tabs-row li.tail { cursor: default; }
ul.address-tabs-row li.shipping:before { content: url("images/small-bike-gray.png"); position: absolute; right: 35px; top: 4px; }
ul.address-tabs-row li.pick-up:before { content: url("images/small-pizza-gray.png"); position: absolute; right: 35px; top: 4px; }
ul.address-tabs-row li.current { background: transparent none; color: #efefef; cursor: default; }
ul.address-tabs-row li.current.shipping:before { content: url("images/small-bike.png"); }
ul.address-tabs-row li.current.pick-up:before { content: url("images/small-pizza.png"); }

.shipping-form { padding-top: 50px; }
.shipping-form label { display: block; width: 330px; margin: 0 auto; border: 2px solid #efefef; border-radius: 4px; padding: 2px; line-height: 40px; color: #efefef; font-weight: 700px; font-size: 17px; padding-right: 10px; margin-bottom: 10px; }
.shipping-form label .mandatory-field { line-height: 35px; font-size: 21px; color: #EC3C40; }
.shipping-form label input[type=text] { display: block; float: left; border-radius: 3px; border: none; background-color: #efefef; line-height: 40px; padding: 0 15px; }
.shipping-form label.no-border { border: none; padding-right: 0; margin-bottom: 2px; line-height: 1.1; }
.shipping-form label.no-border input[type=radio] { display: inline-block; margin-left: 10px; }
.shipping-form label.no-border button { width: 117px; height: 54px; background: transparent url("images/btn-goon.png") no-repeat center center; display: block; float: left; border: none; }
.shipping-form label.error { border-color: #EC3C40; }

@media (max-width: 768px) { ul.address-tabs-row li { width: 50%; height: 60px; }
  ul.address-tabs-row li:last-child { display: none; }
  ul.address-tabs-row li.tail { display: none; } }
.overlay-mask { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.8); display: none; }
.overlay-mask .iframe-wrapper { width: 100%; max-width: 960px; height: 400px; overflow: hidden; margin: 30px auto 0; padding: 10px; background: transparent url("images/bg-leaves.jpg") no-repeat center bottom; }
.overlay-mask .iframe-wrapper iframe { width: 100%; height: 100%; border: none; }

.mkp-work-pad.overlay { width: 100%; float: none; margin: 0; min-height: 926px; }

button.close-me { position: fixed; z-index: 56; width: 117px; height: 54px; left: 30px; bottom: 30px; background: transparent url("images/btn-goon.png") no-repeat center center; display: block; border: none; }

#addson-modal-content { display: none; width: 960px; height: 490px; background: transparent url("images/bg-popup.jpg") repeat left top; box-shadow: 0 4px 17px 7px rgba(0, 0, 0, 0.75); }
#addson-modal-content img.title-addson-pop-up { display: block; margin: 45px auto; }
#addson-modal-content ul.adds-on-tiles { margin: 0 0 30px; padding: 0; list-style-type: none; white-space: nowrap; text-align: center; }
#addson-modal-content ul.adds-on-tiles li { display: inline-block; width: 400px; height: 200px; background-color: rgba(0, 0, 0, 0.5); overflow: hidden; }
#addson-modal-content ul.adds-on-tiles li:first-child { margin-left: 26px; }
#addson-modal-content ul.adds-on-tiles li img { display: block; height: 100%; width: auto; float: right; margin-left: 26px; }
#addson-modal-content ul.adds-on-tiles li p { margin: 21px 0 13px 0; text-align: right; white-space: normal; }
#addson-modal-content ul.adds-on-tiles li p.title { color: #fcff00; font-size: 23px; }
#addson-modal-content ul.adds-on-tiles li p.descr { color: #efefef; line-height: 1.2; font-size: 15px; margin-top: 0; }
#addson-modal-content ul.adds-on-tiles li .bottom { text-align: right; }
#addson-modal-content ul.adds-on-tiles li .bottom span { display: inline-block; margin-left: 13px; font-family: Oswald, sans-serif; font-size: 23px; line-height: 45px; color: #efefef; }
#addson-modal-content ul.adds-on-tiles li .bottom button { display: inline-block; width: 103px; height: 45px; border: none; background: transparent url("images/bg-btn-to-buy.png") no-repeat center; font-size: 20px; font-weight: 700; }
#addson-modal-content button.no-adds-on { display: block; margin: 0 auto; width: 267px; height: 65px; background: transparent url("images/btn-no-adds-on.png") no-repeat center center; border: none; }

.modal-bg-mask { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.7); }

.sign-in-form-modal-container { width: 100%; max-width: 960px; margin: 0 auto; padding: 12px 15px; background: #333 url("images/bg-leaves.jpg") no-repeat center bottom; text-align: right; position: relative; border: 1px solid rgba(255, 255, 255, 0.1); box-shadow: 0 4px 17px 7px rgba(0, 0, 0, 0.75); }

.login-pane { width: 49%; max-width: 440px; }
.login-pane.login { float: left; }
.login-pane.register { float: right; }
.login-pane .title { width: 100%; background-color: rgba(0, 0, 0, 0.26); margin: 0 auto 30px; padding: 7px 0 12px; font-size: 36px; color: #efefef; text-align: center; border-radius: 6px; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); border: 1px solid rgba(255, 255, 255, 0.08); }
.login-pane label { display: block; width: 100%; margin: 0 auto 20px; border: 2px solid #efefef; border-radius: 4px; padding: 2px 10px 2px 2px; line-height: 40px; color: #efefef; font-weight: 700px; font-size: 17px; background-color: rgba(0, 0, 0, 0.26); }
.login-pane label .mandatory-field { line-height: 35px; font-size: 21px; color: #EC3C40; }
.login-pane label input[type=text], .login-pane label input[type=password], .login-pane label input[type=email] { display: block; float: left; width: 270px; border-radius: 3px; border: none; background-color: #efefef; line-height: 40px; padding: 0 15px; }
.login-pane label.no-border { border: none; padding-right: 0; margin-bottom: 2px; line-height: 1.1; background: transparent none; }
.login-pane label.no-border input[type=radio] { display: inline-block; margin-left: 10px; }
.login-pane label.no-border button { width: 117px; height: 54px; background: transparent url("images/btn-goon.png") no-repeat center center; display: block; float: left; border: none; }
.login-pane label.error { border-color: #EC3C40; }
.login-pane p.field-info { width: 460px; font-size: 15px; color: #fff; margin: -15px auto 20px; text-shadow: -1px 1px 1px #000; }
.login-pane a.guest-entry { display: block; clear: both; padding: 30px 0 0; margin-bottom: 50px; font-size: 21px; font-weight: 400; color: #fff; text-decoration: underline; }
.login-pane a.guest-entry:hover { color: #fcff00; }

@media (max-width: 960px) { .login-pane { width: 100%; max-width: 440px; margin: 0 auto; }
  .login-pane.login { float: none; }
  .login-pane.register { float: none; }
  .login-pane label.no-border button { margin-bottom: 30px; } }
.view-order-title { height: 50px; background: transparent url("images/view-order-title.png") no-repeat center center; background-size: auto 47px; margin-bottom: 50px; }

.view-order-list { margin: 0 0 30px; padding: 0; list-style-type: none; }
.view-order-list li { background-color: rgba(0, 0, 0, 0.2); border-bottom: 1px solid rgba(0, 0, 0, 0.4); margin-bottom: 4px; padding: 15px 30px; color: #fff; font-size: 18px; white-space: normal; border-radius: 4px; }
.view-order-list li span { display: block; float: left; background-color: rgba(0, 0, 0, 0.4); width: 60px; height: 100%; text-align: center; font-family: Oswald, sans-serif; color: #fcff00; font-size: 18px; border-radius: 4px; }

.go-to-pz-list { text-align: left; }
.go-to-pz-list button { width: 117px; height: 54px; background: transparent url("images/btn-goon.png") no-repeat center center; display: inline-block; border: none; }

.add-ons { text-align: center; }
.add-ons .page-title { height: 43px; background: transparent url("images/title-addson-pop-up.png") no-repeat center center; background-size: auto 100%; margin: 0 auto 50px; }
.add-ons .item { width: 400px; height: 200px; margin-bottom: 30px; background: transparent url("images/bg-black-op-50.png") repeat; position: relative; overflow: hidden; display: inline-block; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); }
.add-ons .item:nth-child(odd) { margin-left: 30px; }
.add-ons .item:nth-child(even) { margin-left: 0; }
.add-ons .item img { position: absolute; z-index: 1; top: 0; right: 0; height: 100%; width: auto; }
.add-ons .item .bottom { position: absolute; z-index: 1; left: 0; bottom: 0; width: 100%; height: 75px; padding-right: 170px; text-align: right; }
.add-ons .item .bottom span { display: inline-block; margin-left: 23px; font-family: Oswald, sans-serif; font-size: 23px; line-height: 45px; color: #fff; }
.add-ons .item .name { font-size: 21px; color: #fcff00; margin: 0; padding: 16px 170px 5px 20px; line-height: 1; text-align: right; }
.add-ons .item .descr { font-size: 18px; color: #fff; margin: 0; padding: 0 170px 0 20px; line-height: 1; text-align: right; }
.add-ons .item .controls { margin: 0; padding: 0; position: absolute; z-index: 2; left: 5px; top: 132px; list-style-type: none; }
.add-ons .item .controls li { float: right; width: 38px; height: 38px; }
.add-ons .item .controls li.plus { background: transparent url("images/drinks-plus.png") no-repeat center center; cursor: pointer; }
.add-ons .item .controls li.minus { background: transparent url("images/drinks-minus.png") no-repeat center center; cursor: pointer; }
.add-ons .item .controls li.minus.zero { opacity: 0.2; cursor: default; }
.add-ons .item .controls li.total { background: transparent url("images/drinks-blank.png") no-repeat center center; color: #fcff00; font-size: 18px; font-family: Oswald, sans-serif; line-height: 38px; margin: 0 3px; text-align: center; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; -o-user-select: none; }

.purchase .login-pane { width: 49%; max-width: 440px; }
.purchase .login-pane.login { float: left; }
.purchase .login-pane.register { float: right; }
.purchase .login-pane .title { width: 100%; background-color: rgba(0, 0, 0, 0.26); margin: 0 auto 30px; padding: 7px 0 12px; font-size: 36px; color: #efefef; text-align: center; border-radius: 6px; box-shadow: -4px 4px 17px -4px rgba(0, 0, 0, 0.75); border: 1px solid rgba(255, 255, 255, 0.08); }
.purchase .login-pane label { display: block; width: 100%; margin: 0 auto 20px; border: 2px solid #efefef; border-radius: 4px; padding: 2px 10px 2px 2px; line-height: 40px; color: #efefef; font-weight: 700px; font-size: 17px; background-color: rgba(0, 0, 0, 0.26); }
.purchase .login-pane label .mandatory-field { line-height: 35px; font-size: 21px; color: #EC3C40; }
.purchase .login-pane label input[type=text], .purchase .login-pane label input[type=password], .purchase .login-pane label input[type=email] { display: block; float: left; width: 60%; border-radius: 3px; border: none; background-color: #efefef; line-height: 40px; padding: 0 15px; }
.purchase .login-pane label.error { border-color: #EC3C40; }
.purchase .login-pane .no-border { border: none; padding-right: 0; margin-bottom: 2px; line-height: 1.1; background: transparent none; }
.purchase .login-pane .no-border button { width: 117px; height: 54px; background: transparent url("images/btn-goon.png") no-repeat center center; display: block; float: left; border: none; }
.purchase .login-pane p.field-info { width: 460px; font-size: 15px; color: #fff; margin: -15px auto 20px; text-shadow: -1px 1px 1px #000; }
.purchase .login-pane a.guest-entry { display: inline-block; padding: 30px 0 0; margin-bottom: 50px; font-size: 21px; font-weight: 400; color: #fff; text-decoration: underline; }
.purchase .login-pane a.guest-entry:hover { color: #fcff00; }

.addr-list .list-title { height: 50px; background: transparent url("images/view-order-title.png") no-repeat center center; background-size: auto 47px; margin-bottom: 50px; }
.addr-list ul { margin: 0 0 30px; padding: 0; list-style-type: none; }
.addr-list ul li { background-color: rgba(0, 0, 0, 0.2); border-bottom: 1px solid rgba(0, 0, 0, 0.4); margin-bottom: 4px; padding: 15px 30px; color: #fff; font-size: 18px; white-space: normal; border-radius: 4px; }
.addr-list ul li.new-addr { background-color: rgba(0, 0, 0, 0.3); margin-top: 30px; border: 1px solid rgba(0, 0, 0, 0.4); text-align: center; }
.addr-list ul li.new-addr a:before { content: ' + '; }
.addr-list ul li a { color: #fff; text-decoration: none; }
.addr-list ul li a:hover { color: #fcff00; }
.addr-list ul li button { display: block; float: left; background-color: rgba(0, 0, 0, 0.4); width: 60px; height: 100%; text-align: center; font-family: Oswald, sans-serif; color: #fcff00; font-size: 18px; border-radius: 4px; border: none; }

.addr-form-pane { width: 100%; max-width: 640px; min-width: 440px; margin: 0 auto; }
.addr-form-pane .form-title { height: 50px; background: transparent url("images/view-order-title.png") no-repeat center center; background-size: auto 47px; margin-bottom: 50px; }
.addr-form-pane label { display: block; width: 100%; margin: 0 auto 20px; border: 2px solid #efefef; border-radius: 4px; padding: 2px 10px 2px 2px; line-height: 40px; color: #efefef; font-weight: 700px; font-size: 17px; background-color: rgba(0, 0, 0, 0.26); }
.addr-form-pane label.small { width: 31.2%; margin-left: 2%; display: inline-block; }
.addr-form-pane label.small.last { margin-left: 0; }
.addr-form-pane label.small input { width: 50% !important; }
.addr-form-pane label a { color: #fff; text-decoration: none; }
.addr-form-pane label a:hover { color: #fcff00; }
.addr-form-pane label .mandatory-field { line-height: 35px; font-size: 21px; color: #EC3C40; }
.addr-form-pane label input[type=text], .addr-form-pane label input[type=password], .addr-form-pane label input[type=email] { display: block; float: left; width: 60%; border-radius: 3px; border: none; background-color: #efefef; line-height: 40px; padding: 0 15px; }
.addr-form-pane label.no-border { border: none; padding-right: 0; margin-bottom: 2px; line-height: 1.1; background: transparent none; }
.addr-form-pane label.no-border input[type=checkbox] { display: inline-block; margin-left: 10px; }
.addr-form-pane label.error { border-color: #EC3C40; }
.addr-form-pane button { width: 117px; height: 54px; background: transparent url("images/btn-goon.png") no-repeat center center; display: block; float: left; border: none; }
.addr-form-pane .terms { display: none; background-color: #262626; border-radius: 4px; margin: 5px 0 30px; padding: 10px; }
.addr-form-pane .terms p { font-size: 14px; margin: 2px 0; color: #fff; }

.payment-types .list-title { height: 50px; background: transparent url("images/view-order-title.png") no-repeat center center; background-size: auto 47px; margin-bottom: 50px; }
.payment-types ul { margin: 0 0 30px; padding: 0; list-style-type: none; }
.payment-types ul li { background-color: rgba(0, 0, 0, 0.2); border-bottom: 1px solid rgba(0, 0, 0, 0.4); margin-bottom: 30px; padding: 30px 30px; color: #fff; font-size: 26px; white-space: normal; border-radius: 4px; background-repeat: no-repeat; background-position: left center; }
.payment-types ul li.credircard { background-image: url("images/creditcard.png"); }
.payment-types ul li.cash { background-image: url("images/cash.png"); }
.payment-types ul li.paypal { background-image: url("images/paypal.png"); }
.payment-types ul li a { color: #fff; text-decoration: none; }
.payment-types ul li a:hover { color: #fcff00; }

@media (max-width: 768px) { .purchase .login-pane { width: 100%; max-width: 440px; margin: 0 auto; }
  .purchase .login-pane.login { float: none; }
  .purchase .login-pane.register { float: none; }
  .purchase .login-pane label.no-border button { margin-bottom: 30px; } }
