img.delivery-title {
    display: block; width: 100%; max-width: 1024px; margin: 0 auto 50px;
}

.delivery .map { margin: 0; padding: 0; list-style-type: none; }
.delivery .map li { float: right; height: 260px; padding: 8px; border: 2px solid transparent; }

.delivery .map li.map-cell { border-color: #fcff00; margin-right: calc(100% - 954px); }

.delivery img.pz-photo { height: 240px; width: auto; display: block; }

.delivery .name { margin: 65px 0 0 20px; color: #fcff00; font-size: 25px; }

.delivery .phone { margin: 0 0 0 20px; color: #fff; font-family: Oswald, sans-serif; font-size: 29px; }


ul.tracker {
  margin: 60px 0 20px; padding: 3px; list-style-type: none; width: 100%;
  box-shadow: -4px 4px 17px -4px rgba(0,0,0,0.75);
  background: transparent none; border: 2px solid #fcff00; border-radius: 2px;
}

ul.tracker  li {
    float: right; width: calc(25% - 3px); text-align: center; font-size: 21px;
    color: #fcff00; line-height: 41px; border: 2px solid #fcff00; border-radius: 2px; margin-right: 3px;
}
ul.tracker li:first-child { margin-right: 1px; }
ul.tracker li.passed { color: #262728; background: transparent url('images/bg-green-op-50.png') repeat; border-color: rgba(156, 225, 78, 0.2); }
ul.tracker li.current { color: #262728; background-color: #fcff00; border-color: #fcff00; }

div.coupon { text-align: center; margin: 0 auto 50px; padding-top: 50px; }
div.coupon  img { display: inline-block; }
/* img.tracking-nums { display: block; margin: 0 auto 50px; } */
@media (max-width: 1024px) {
	
}

@media (max-width: 960px) {
	.delivery .map li.map-cell { margin-right: 0; }
}

@media (max-width: 768px) {
    .delivery .map { width: 90%; max-width: 506px; margin: 0 auto; }
    .delivery .map li { float: none; }
    .delivery .map li.pizza-name { height: auto; text-align: center; margin-left: 0; }
    .delivery .name { margin-top: 10px; }
    .delivery li.photo { display: none; }
    .delivery .map li.map-cell { height: auto; width: 100%; }
    .delivery .map li.map-cell img.waze-map { height: auto; width: 100%; display: block; }
	
	ul.tracker { width: 420px; margin:60px auto 20px; }

	ul.tracker  li { float: none; width: 100%; margin-right: 0; margin-bottom: 4px; }
	ul.tracker  li:last-child { margin-bottom: 0; }
}
