.mfp-close {
    border-radius: 22px;
    background-color: #D60151 !important;
    width: 36px; height: 36px;
    opacity: 1.0;
    line-height: 36px;
    top: -22px; right: -22px;
}
.mfp-close:active { top: -22px; }

@media (max-width: 960px) {
    .mfp-close { top: 2px; right: 2px; }
    .mfp-close:active { top: 2px; }
}
