/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
/* #simplemodal-container {height:360px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;} */
#simplemodal-container { height: 360px; width: 600px; background-color: transparent; border: none; padding: 0;}

#simplemodal-container { top: 150px !important; }

#simplemodal-container .simplemodal-data { padding: 0; }
#simplemodal-container a.modalCloseImg {
    display:inline;
    position:absolute; z-index:3200;
    right: -22px; top: -50px;
    cursor:pointer;
    width: 36px; height: 36px;
    background: transparent url('images/pop-up-close.png') no-repeat center center;
}

@media (max-width: 768px) {
    #simplemodal-container a.modalCloseImg {
        right: -1px;
    }
}