.personal-title {
  height: 50px;
  background: transparent url('images/view-order-title.png') no-repeat center center;
  background-size: auto 47px;
  margin-bottom: 50px;
}


ul.personal-left-panel { margin: 0; padding: 0; list-style-type: none; width: 450px; float: left; }

ul.personal-left-panel li {
	background-color: rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	margin-bottom: 35px;
	padding:15px 30px;
	color: #fff;
	font-size: 18px;
	white-space: normal;
	border-radius: 4px;
}

ul.personal-left-panel li  a{ color: #fff; text-decoration: none; }
ul.personal-left-panel li a:hover { color: #fffc00; }
ul.personal-left-panel li button {
	display: block;
	float: left;
	background-color: #fffc00; color: #006400;
	height: 40px; width: 40px; border-radius:  50%;
	text-align: center;
	font-family: Oswald, sans-serif;
	font-size: 16px;
	border: none;
}
ul.personal-left-panel li.messages { line-height: 40px; }
ul.personal-left-panel li.coupons { }
ul.personal-left-panel li.coupons ul { margin: 0; padding: 0; list-style-type: none; }
ul.personal-left-panel li.coupons ul li {
	margin-bottom: 5px;
	padding: 0 0 20px;
	font-size: 15px;
	background: transparent none; border-bottom: none;
}
ul.personal-left-panel li.coupons ul li span { color: #fffc00; }

ul.personal-right-panel { margin: 0; padding: 0; list-style-type: none; width: 450px; float: right; }

ul.personal-right-panel li {
	background-color: rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	margin-bottom: 35px;
	padding:15px 30px;
	color: #fff;
	font-size: 18px;
	white-space: normal;
	border-radius: 4px;
}

ul.personal-right-panel li  a{ color: #fff; text-decoration: none; }
ul.personal-right-panel li a:hover { color: #fffc00; }
ul.personal-right-panel li button {
	display: block;
	float: left;
	background-color: rgba(0, 0, 0, 0.4);
	width: 60px; height: 100%;
	text-align: center;
	font-family: Oswald, sans-serif;
	color: #fffc00;
	font-size: 18px;
	border-radius: 4px;
	border: none;
}

@media (max-width: 960px) {
	ul.personal-left-panel { width: 360px; }
	ul.personal-right-panel { width: 360px; }
}

@media (max-width: 768px) {
	ul.personal-left-panel { float: none; margin: 0 auto 30px; width: 360px; }
	ul.personal-right-panel { float: none; margin: 0 auto 30px; width: 360px; }
}
