.stub {}

/*
The add-ons pizza layer styles are based on the naming convention.
Each kind of add-on should have its unique name, e.g.: sweet_pepper.
Each kind of add-on has 7 styles: for the whole pizza, left half, right half, plus 4 quarters.
The background images for the layers are located in "/css/images/pz-layers" folder.

Therefore, the full 'set' of the styles for one add-on will be as follows:
.mkp-pizza-base .pizza-layer.whole_xxxxxxx { background-image: url("images/pz-layers/[the_background_image_file].png"); }
.mkp-pizza-base .pizza-layer.l-half_xxxxxxx { background-image: url("images/pz-layers/[the_background_image_file].png"); }
.mkp-pizza-base .pizza-layer.r-half_xxxxxxx { background-image: url("images/pz-layers/[the_background_image_file].png"); }
.mkp-pizza-base .pizza-layer.nw_xxxxxxx { background-image: url("images/pz-layers/[the_background_image_file].png"); }
.mkp-pizza-base .pizza-layer.ne_xxxxxxx { background-image: url("images/pz-layers/[the_background_image_file].png"); }
.mkp-pizza-base .pizza-layer.sw_xxxxxxx { background-image: url("images/pz-layers/[the_background_image_file].png"); }
.mkp-pizza-base .pizza-layer.se_xxxxxxx { background-image: url("images/pz-layers/[the_background_image_file].png"); }

Note: 'nw', 'ne', 'sw', 'se' stand for: North-West, North-East, South-West, South-East.

The add-ons menu on the right MUST use the same keyword for their input control.
<input
	class="component-selection component-selection-xxxxxxx" data-component="xxxxxxx"
	data-layer-name="whole_xxxxxxx" name="selection_xxxxxxx" value="whole" data-waschecked="false" type="radio" />
*/

/* Addon Name: זיתים ירוקות | The keyword: green_olives */
.mkp-pizza-base .pizza-layer.whole_green-olives { background-image: url("images/pz-layers/green-olives/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_green-olives { background-image: url("images/pz-layers/green-olives/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_green-olives { background-image: url("images/pz-layers/green-olives/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_green-olives { background-image: url("images/pz-layers/green-olives/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_green-olives { background-image: url("images/pz-layers/green-olives/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_green-olives { background-image: url("images/pz-layers/green-olives/sw.png"); }
.mkp-pizza-base .pizza-layer.se_green-olives { background-image: url("images/pz-layers/green-olives/se.png"); }

/* Addon Name: פלפל ירוק חריף | The keyword: green-bell-pepper */
.mkp-pizza-base .pizza-layer.whole_green-bell-pepper { background-image: url("images/pz-layers/green-bell-pepper/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_green-bell-pepper { background-image: url("images/pz-layers/green-bell-pepper/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_green-bell-pepper { background-image: url("images/pz-layers/green-bell-pepper/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_green-bell-pepper { background-image: url("images/pz-layers/green-bell-pepper/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_green-bell-pepper { background-image: url("images/pz-layers/green-bell-pepper/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_green-bell-pepper { background-image: url("images/pz-layers/green-bell-pepper/sw.png"); }
.mkp-pizza-base .pizza-layer.se_green-bell-pepper { background-image: url("images/pz-layers/green-bell-pepper/se.png"); }

/* Addon Name: פטריות משומרות | The keyword: mushroom */
.mkp-pizza-base .pizza-layer.whole_mushroom { background-image: url("images/pz-layers/mushroom/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_mushroom { background-image: url("images/pz-layers/mushroom/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_mushroom { background-image: url("images/pz-layers/mushroom/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_mushroom { background-image: url("images/pz-layers/mushroom/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_mushroom { background-image: url("images/pz-layers/mushroom/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_mushroom { background-image: url("images/pz-layers/mushroom/sw.png"); }
.mkp-pizza-base .pizza-layer.se_mushroom { background-image: url("images/pz-layers/mushroom/se.png"); }

/* Addon Name: זיתים שחורות | The keyword: olives-black */
.mkp-pizza-base .pizza-layer.whole_olives-black { background-image: url("images/pz-layers/olives-black/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_olives-black { background-image: url("images/pz-layers/olives-black/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_olives-black { background-image: url("images/pz-layers/olives-black/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_olives-black { background-image: url("images/pz-layers/olives-black/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_olives-black { background-image: url("images/pz-layers/olives-black/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_olives-black { background-image: url("images/pz-layers/olives-black/sw.png"); }
.mkp-pizza-base .pizza-layer.se_olives-black { background-image: url("images/pz-layers/olives-black/se.png"); }

/* Addon Name: בצל סגול | The keyword: onion-red */
.mkp-pizza-base .pizza-layer.whole_onion-red { background-image: url("images/pz-layers/onion-red/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_onion-red { background-image: url("images/pz-layers/onion-red/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_onion-red { background-image: url("images/pz-layers/onion-red/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_onion-red { background-image: url("images/pz-layers/onion-red/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_onion-red { background-image: url("images/pz-layers/onion-red/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_onion-red { background-image: url("images/pz-layers/onion-red/sw.png"); }
.mkp-pizza-base .pizza-layer.se_onion-red { background-image: url("images/pz-layers/onion-red/se.png"); }

/* Addon Name: פפרוני | The keyword: pepperoni */
.mkp-pizza-base .pizza-layer.whole_pepperoni { background-image: url("images/pz-layers/pepperoni/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_pepperoni { background-image: url("images/pz-layers/pepperoni/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_pepperoni { background-image: url("images/pz-layers/pepperoni/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_pepperoni { background-image: url("images/pz-layers/pepperoni/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_pepperoni { background-image: url("images/pz-layers/pepperoni/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_pepperoni { background-image: url("images/pz-layers/pepperoni/sw.png"); }
.mkp-pizza-base .pizza-layer.se_pepperoni { background-image: url("images/pz-layers/pepperoni/se.png"); }

/* Addon Name: עגבניה | The keyword: tomato */
.mkp-pizza-base .pizza-layer.whole_tomato { background-image: url("images/pz-layers/tomato/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_tomato { background-image: url("images/pz-layers/tomato/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_tomato { background-image: url("images/pz-layers/tomato/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_tomato { background-image: url("images/pz-layers/tomato/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_tomato { background-image: url("images/pz-layers/tomato/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_tomato { background-image: url("images/pz-layers/tomato/sw.png"); }
.mkp-pizza-base .pizza-layer.se_tomato { background-image: url("images/pz-layers/tomato/se.png"); }

/* Addon Name: אננס | The keyword: ananas */
.mkp-pizza-base .pizza-layer.whole_ananas { background-image: url("images/pz-layers/ananas/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_ananas { background-image: url("images/pz-layers/ananas/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_ananas { background-image: url("images/pz-layers/ananas/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_ananas { background-image: url("images/pz-layers/ananas/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_ananas { background-image: url("images/pz-layers/ananas/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_ananas { background-image: url("images/pz-layers/ananas/sw.png"); }
.mkp-pizza-base .pizza-layer.se_ananas { background-image: url("images/pz-layers/ananas/se.png"); }

/* Addon Name: אנשובי | The keyword: anchobi */
.mkp-pizza-base .pizza-layer.whole_anchobi { background-image: url("images/pz-layers/anchobi/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_anchobi { background-image: url("images/pz-layers/anchobi/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_anchobi { background-image: url("images/pz-layers/anchobi/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_anchobi { background-image: url("images/pz-layers/anchobi/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_anchobi { background-image: url("images/pz-layers/anchobi/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_anchobi { background-image: url("images/pz-layers/anchobi/sw.png"); }
.mkp-pizza-base .pizza-layer.se_anchobi { background-image: url("images/pz-layers/anchobi/se.png"); }

/* Addon Name: בולגרית | The keyword: bulgarit */
.mkp-pizza-base .pizza-layer.whole_bulgarit { background-image: url("images/pz-layers/bulgarit/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_bulgarit { background-image: url("images/pz-layers/bulgarit/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_bulgarit { background-image: url("images/pz-layers/bulgarit/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_bulgarit { background-image: url("images/pz-layers/bulgarit/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_bulgarit { background-image: url("images/pz-layers/bulgarit/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_bulgarit { background-image: url("images/pz-layers/bulgarit/sw.png"); }
.mkp-pizza-base .pizza-layer.se_bulgarit { background-image: url("images/pz-layers/bulgarit/se.png"); }

/* Addon Name: גבינה | The keyword: cheese */
.mkp-pizza-base .pizza-layer.whole_cheese { background-image: url("images/pz-layers/cheese/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_cheese { background-image: url("images/pz-layers/cheese/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_cheese { background-image: url("images/pz-layers/cheese/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_cheese { background-image: url("images/pz-layers/cheese/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_cheese { background-image: url("images/pz-layers/cheese/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_cheese { background-image: url("images/pz-layers/cheese/sw.png"); }
.mkp-pizza-base .pizza-layer.se_cheese { background-image: url("images/pz-layers/cheese/se.png"); }

/* Addon Name: ביצה | The keyword: egg */
.mkp-pizza-base .pizza-layer.whole_egg { background-image: url("images/pz-layers/egg/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_egg { background-image: url("images/pz-layers/egg/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_egg { background-image: url("images/pz-layers/egg/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_egg { background-image: url("images/pz-layers/egg/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_egg { background-image: url("images/pz-layers/egg/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_egg { background-image: url("images/pz-layers/egg/sw.png"); }
.mkp-pizza-base .pizza-layer.se_egg { background-image: url("images/pz-layers/egg/se.png"); }

/* Addon Name: גמבה שרופה | The keyword: gamba-saruf */
.mkp-pizza-base .pizza-layer.whole_gamba-saruf { background-image: url("images/pz-layers/gamba-saruf/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_gamba-saruf { background-image: url("images/pz-layers/gamba-saruf/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_gamba-saruf { background-image: url("images/pz-layers/gamba-saruf/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_gamba-saruf { background-image: url("images/pz-layers/gamba-saruf/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_gamba-saruf { background-image: url("images/pz-layers/gamba-saruf/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_gamba-saruf { background-image: url("images/pz-layers/gamba-saruf/sw.png"); }
.mkp-pizza-base .pizza-layer.se_gamba-saruf { background-image: url("images/pz-layers/gamba-saruf/se.png"); }

/* Addon Name: בצל ירוק | The keyword: green-onion */
.mkp-pizza-base .pizza-layer.whole_green-onion { background-image: url("images/pz-layers/green-onion/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_green-onion { background-image: url("images/pz-layers/green-onion/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_green-onion { background-image: url("images/pz-layers/green-onion/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_green-onion { background-image: url("images/pz-layers/green-onion/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_green-onion { background-image: url("images/pz-layers/green-onion/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_green-onion { background-image: url("images/pz-layers/green-onion/sw.png"); }
.mkp-pizza-base .pizza-layer.se_green-onion { background-image: url("images/pz-layers/green-onion/se.png"); }

/* Addon Name: חציל | The keyword: hazil */
.mkp-pizza-base .pizza-layer.whole_hazil { background-image: url("images/pz-layers/hazil/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_hazil { background-image: url("images/pz-layers/hazil/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_hazil { background-image: url("images/pz-layers/hazil/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_hazil { background-image: url("images/pz-layers/hazil/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_hazil { background-image: url("images/pz-layers/hazil/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_hazil { background-image: url("images/pz-layers/hazil/sw.png"); }
.mkp-pizza-base .pizza-layer.se_hazil { background-image: url("images/pz-layers/hazil/se.png"); }

/* Addon Name: קבנוס | The keyword: kabanos */
.mkp-pizza-base .pizza-layer.whole_kabanos { background-image: url("images/pz-layers/kabanos/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_kabanos { background-image: url("images/pz-layers/kabanos/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_kabanos { background-image: url("images/pz-layers/kabanos/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_kabanos { background-image: url("images/pz-layers/kabanos/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_kabanos { background-image: url("images/pz-layers/kabanos/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_kabanos { background-image: url("images/pz-layers/kabanos/sw.png"); }
.mkp-pizza-base .pizza-layer.se_kabanos { background-image: url("images/pz-layers/kabanos/se.png"); }

/* Addon Name: בקר | The keyword: meat */
.mkp-pizza-base .pizza-layer.whole_meat { background-image: url("images/pz-layers/meat/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_meat { background-image: url("images/pz-layers/meat/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_meat { background-image: url("images/pz-layers/meat/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_meat { background-image: url("images/pz-layers/meat/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_meat { background-image: url("images/pz-layers/meat/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_meat { background-image: url("images/pz-layers/meat/sw.png"); }
.mkp-pizza-base .pizza-layer.se_meat { background-image: url("images/pz-layers/meat/se.png"); }

/* Addon Name: פסטרמה | The keyword: pastrama */
.mkp-pizza-base .pizza-layer.whole_pastrama { background-image: url("images/pz-layers/pastrama/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_pastrama { background-image: url("images/pz-layers/pastrama/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_pastrama { background-image: url("images/pz-layers/pastrama/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_pastrama { background-image: url("images/pz-layers/pastrama/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_pastrama { background-image: url("images/pz-layers/pastrama/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_pastrama { background-image: url("images/pz-layers/pastrama/sw.png"); }
.mkp-pizza-base .pizza-layer.se_pastrama { background-image: url("images/pz-layers/pastrama/se.png"); }

/* Addon Name: סלמי | The keyword: salami */
.mkp-pizza-base .pizza-layer.whole_salami { background-image: url("images/pz-layers/salami/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_salami { background-image: url("images/pz-layers/salami/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_salami { background-image: url("images/pz-layers/salami/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_salami { background-image: url("images/pz-layers/salami/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_salami { background-image: url("images/pz-layers/salami/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_salami { background-image: url("images/pz-layers/salami/sw.png"); }
.mkp-pizza-base .pizza-layer.se_salami { background-image: url("images/pz-layers/salami/se.png"); }

/* Addon Name: פטריות טריות | The keyword: shampinion */
.mkp-pizza-base .pizza-layer.whole_shampinion { background-image: url("images/pz-layers/shampinion/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_shampinion { background-image: url("images/pz-layers/shampinion/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_shampinion { background-image: url("images/pz-layers/shampinion/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_shampinion { background-image: url("images/pz-layers/shampinion/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_shampinion { background-image: url("images/pz-layers/shampinion/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_shampinion { background-image: url("images/pz-layers/shampinion/sw.png"); }
.mkp-pizza-base .pizza-layer.se_shampinion { background-image: url("images/pz-layers/shampinion/se.png"); }

/* Addon Name: תירס | The keyword: tiras */
.mkp-pizza-base .pizza-layer.whole_tiras { background-image: url("images/pz-layers/tiras/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_tiras { background-image: url("images/pz-layers/tiras/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_tiras { background-image: url("images/pz-layers/tiras/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_tiras { background-image: url("images/pz-layers/tiras/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_tiras { background-image: url("images/pz-layers/tiras/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_tiras { background-image: url("images/pz-layers/tiras/sw.png"); }
.mkp-pizza-base .pizza-layer.se_tiras { background-image: url("images/pz-layers/tiras/se.png"); }

/* Addon Name: טונה | The keyword: tuna */
.mkp-pizza-base .pizza-layer.whole_tuna { background-image: url("images/pz-layers/tuna/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_tuna { background-image: url("images/pz-layers/tuna/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_tuna { background-image: url("images/pz-layers/tuna/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_tuna { background-image: url("images/pz-layers/tuna/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_tuna { background-image: url("images/pz-layers/tuna/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_tuna { background-image: url("images/pz-layers/tuna/sw.png"); }
.mkp-pizza-base .pizza-layer.se_tuna { background-image: url("images/pz-layers/tuna/se.png"); }

/* Addon Name: בצל לבן | The keyword: white-onion */
.mkp-pizza-base .pizza-layer.whole_white-onion { background-image: url("images/pz-layers/white-onion/whole.png"); }
.mkp-pizza-base .pizza-layer.l-half_white-onion { background-image: url("images/pz-layers/white-onion/l-half.png"); }
.mkp-pizza-base .pizza-layer.r-half_white-onion { background-image: url("images/pz-layers/white-onion/r-half.png"); }
.mkp-pizza-base .pizza-layer.nw_white-onion { background-image: url("images/pz-layers/white-onion/nw.png"); }
.mkp-pizza-base .pizza-layer.ne_white-onion { background-image: url("images/pz-layers/white-onion/ne.png"); }
.mkp-pizza-base .pizza-layer.sw_white-onion { background-image: url("images/pz-layers/white-onion/sw.png"); }
.mkp-pizza-base .pizza-layer.se_white-onion { background-image: url("images/pz-layers/white-onion/se.png"); }


