ul.vo-options { margin: 0; padding: 0; list-style-type: none; width: 320px; float: right; }

ul.vo-options li {
	background-color: rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	margin-bottom: 4px;
	padding:15px 30px;
	color: #fff;
	font-size: 18px;
	white-space: normal;
	border-radius: 4px;
}

ul.vo-options li  a{ color: #fff; text-decoration: none; }
ul.vo-options li a:hover { color: #fffc00; }
ul.vo-options li button {
	display: block;
	float: left;
	background-color: rgba(0, 0, 0, 0.4);
	width: 60px; height: 100%;
	text-align: center;
	font-family: Oswald, sans-serif;
	color: #fffc00;
	font-size: 18px;
	border-radius: 4px;
	border: none;
}

.iframe-close-button {
    width: 36px; height: 36px; background:transparent url('images/pop-up-close.png') no-repeat center center;
    position: absolute; top:60px; left:-40px; z-index: 9999; cursor: pointer;
}

@media (max-width: 768px) {
	ul.vo-options { margin: 0 auto 30px; width: 440px; float: none; clear: both; }
}