.view-order-title { height: 50px; background: transparent url("images/view-order-title.png") no-repeat center center; background-size: auto 47px; margin-bottom: 50px; }

.view-order-list { margin: 0 0 30px; padding: 0; list-style-type: none; }
.view-order-list li { background-color: rgba(0, 0, 0, 0.2); border-bottom: 1px solid rgba(0, 0, 0, 0.4); margin-bottom: 4px; padding: 15px 30px; color: #fff; font-size: 18px; white-space: normal; border-radius: 4px; }
.view-order-list li span { display: block; float: left; background-color: rgba(0, 0, 0, 0.4); width: 60px; height: 100%; text-align: center; font-family: Oswald, sans-serif; color: #fcff00; font-size: 18px; border-radius: 4px; }

.go-to-pz-list { text-align: left; }
.go-to-pz-list button { width: 117px; height: 54px; background: transparent url("images/btn-goon.png") no-repeat center center; display: inline-block; border: none; }

.view-order-left-pane {
    float: left;
    /*margin: -44px 0 0 30px;*/
    position: relative;
    width: 320px;
}

@media (max-width: 768px) {
    .view-order-left-pane { margin: 0 auto 30px; float: none; }
    ul.vo-options { margin: 0 auto 30px; width: 440px; float: none; clear: both; }
}

